<div>

	<%= form_for @client do |c| %>

		TYPE: <div><%= c.text_field :bet_types %></div>
		# OF WAGERS: <div><%= c.text_field :wager_limit %></div>
		SPORTS: <div><%= c.text_field :sports %></div>
		STAKES: <div><%= c.text_field :stakes %></div>



	<% end %>



</div>

