<%= form_for @league_client do |l| %>


	<%= l.text_field :league_id, value: "5" %>
	<%= l.text_field :user_id, value: current_user.id %>
	<div>NAME: <%= l.text_field :league_name %></div>
	<div>Stakes: <%= l.text_field :stakes %></div>
	<div>Wager Type:<%= l.text_field :bet_types %></div>
	<div>Bet Quantity: <%= l.text_field :wager_limit %></div>
	<div>Sports: <%= l.text_field :sports %></div>
	<%= l.submit %>



<% end %>

