<% @my_date %>
<% self.get_time %>
<%= @my_date %>
<% @serial_num_check %>

<% self.convert_date(@my_date) %>

<%= @serial_num_check %>

<div id="pool_index_head">FANISIDE POOLS</div>

<div id="pools_index_cont">
	
	<div id="fan_rules">
		
		<div id="rules_head">GAME RULES</div>

		<div id="rules_text">
			
			<p>A Faniside Pool is half traditional fantasy and half suicide pool.</p>

			<p>All pool contestatents must pick a fantasy player from a group of 2 - 5 players.  The player they choose must have the highest total in fantasy points for the group.  Pick the right player and you advance, if not you are eliminated.</p>

			<p>Groups of fantasy players can be formed daily, weekly, or in any time interval.  The pool commissioner(creator) has the controls to generate groups for their pool.

			<p>If two players tie for the most points in a group, then a selection of either will win.</p>

			<p>The players chosen for your group is random, and the amount of players in the group is random. You can pick the same player anytime they appear in your pool's group.</p>

			<p>Pools continue until there is one person remaining, or all remaining contestants are knocked out at the same time.  If that happens then those Entrants tie for the win.</p>

			<p>Make your selection by clicking on the player's name in the selections section of the pool's home page.  Groups appear once the pool commish has submitted the results from the night beofre, a selection can be made until the first start time of the players in the group.</p>

			<p>If you fail to submit a pick on a day/night your pool has a player group available then you will be eliminated.</p>

			<p>You lose the abilty to make a selection once you are eliminated but you still have access to the standings and selections of others to follow the pool.</p>

			<p>You can play in as many pools as you want at the same time.</p>




		</div>







	</div>

	<div class="hide">
		
		<%= form_for @pool do |p| %>

			<div> <%= p.hidden_field :commish_id, :value => current_user.id %></div>
			<div> <%= p.hidden_field :date, :value => @my_date %></div>
			<div> SPORT: <%= p.text_field :sport %></div>
			<div> PASSWORD: <%= p.text_field :pass %></div>
			<div> POOL NAME: <%= p.text_field :pool_name %></div>
			<%= p.submit %>


		<% end %>

	</div>

		
	<div id="pool_create_cont">

		<div id="create_pool_label">CREATE NEW POOL</div>

		<div class="pool_fields">
			
			Pool Name: <input type="text" name="" id="pool_name">


		</div>
		
		<div class = "pool_fields">
			
			Password: <input type="text" name="password" id="pass">

		</div>

		<div class = "pool_fields">
			
			<label>SPORT:
			<input list="client_num" name="client_num" id="pool_sports" /></label>
		
			<datalist id="client_num">
		  		<option value= NFL>
		  		<option value="NBA">
		  		<option value="MLB">
		  		<option value="ALL">
		  
			</datalist>
			

		</div>
		

		<input type="submit" name="" value="Create Pool" id="sub_btn">


	<script>

		var subBtn = document.getElementById("sub_btn")
		var pass = document.getElementById("pass")
		var poolName = document.getElementById("pool_name")
		var poolSport = document.getElementById("pool_sports")
		
		subBtn.addEventListener("click", function(){

			var pass_holder = []

			var passW = " "

			var test = false

			<% Pool.all.each do |l| %>

					passW = "<%= l.pass %>"

					pass_holder.push(passW)

			<% end %>

			for(i=0; i<pass_holder.length; i++){

				if (pass_holder[i] == pass.value){

					test = true
				}
			}


			if (test == true){

				alert("THAT PASSWORD IS TAKEN")
			}else{


				pool_sport.value = poolSport.value
				pool_pool_name.value = poolName.value
				pool_pass.value = pass.value
				
				new_pool.submit()

			}


		})




	</script>

	<div class="hide">


		<%= form_for @secret do |p| %>

				<%= p.text_field :pass %>
				<%= p.text_field :kind, :value => "pool" %>
				<%= p.text_field :user_id, :value => current_user.id %>
				<%= p.text_field :date, :value => @my_date %>
				<%= p.submit %>

		<% end %>

	</div>

<div id="pass_index">

	<div id="pass_text">
		
		<p> If you are entering a new pool for the first time, enter that Pool's password in the box below...</p>






	</div>

	<div id="pass_btns">
	
		PASSWORD: <input type="text" name="" id="pass_pool">
		<input type="submit" value="ENTER" id="sub_pass_pool">

	</div>



</div>

<script>

	var secret = document.getElementById("pass_pool")
	var secSub = document.getElementById("sub_pass_pool")
	
	secSub.addEventListener("click", function(){

	secret_pass.value = secret.value

	new_secret.submit()



	})




</script>







	</div>

</div>















</div>