<% @my_date %>
<% self.get_time %>
<% @players_left = [] %>
<% @contestants = [] %>
<% @selection_holder = [] %>
<% @needs_grading = false %>
<% @this_pools_groups = [] %>
<% @recalled = [] %>
<% @pool_players = [] %>
<% @pool_standings = [] %>
<% @off_stand = [] %>
<% @sorted_standings %>

<% self.get_pool_players %>
<% self.get_all_selections %>
<% self.get_pool_standings(@pool_standings) %>

<div>

	<%= form_for @group do |g| %>

		<%= g.text_field :pool_id, value: @pool.id %>
		<%= g.text_field :date, value: @my_date %>
		<%= g.text_field :player1 %>
		<%= g.text_field :player2 %>
		<%= g.text_field :player3 %>
		<%= g.text_field :player4 %>
		<%= g.text_field :player5 %>

		<%= g.submit %>

	<% end %>

</div>

<div>

	<%= form_for @selection do |s| %>

		<%= s.text_field :pool_id, value: @pool.id %>
		<%= s.text_field :date, value: @my_date %>
		<%= s.text_field :user_id, value: current_user.id %>
		<%= s.text_field :selection %>
		

		<%= s.submit %>

	<% end %>




</div>

<div>

	<% @off_stand.each do |st| %>

		<% if st.class == Hash %>

			<div class="player_standings"><%= st[:name].to_s + " " + st[:picks].to_s %></div>

		<% end %>



	<% end %>

</div>

<div class="group">

	<div id="pl1" class="group_players"></div>
	<div id="pl2" class="group_players"></div>
	<div id="pl3" class="group_players"></div>
	<div id="pl4" class="group_players"></div>
	<div id="pl5" class="group_players"></div>
	
	<script>

		var player1 = ""
		var player2 = ""
		var player3 = ""
		var player4 = ""
		var player5 = ""
		var player_holder = []
			

		<% Group.all.each do |g| %>

			<% if g.pool_id.to_i == @pool.id.to_i %>

				<% if g.date == @my_date %>

					player1 = "<%= g.player1 %>"
					player_holder.push(player1)
					
					player2 = "<%= g.player2 %>"
					player_holder.push(player2)

					<% if g.player3.length > 0 %>

						player3 = "<%= g.player3 %>"
						player_holder.push(player3)

					<% end %>

					<% if g.player4.length > 0 %>

						player4 = "<%= g.player4 %>"
						player_holder.push(player4)

					<% end %>

					<% if g.player5.length > 0 %>

						player5 = "<%= g.player5 %>"
						player_holder.push(player5)

					<% end %>




				<% end %>



			<% end %>



		<% end %>

		pl1.innerHTML = player1
		pl2.innerHTML = player2
		pl3.innerHTML = player3
		pl4.innerHTML = player4
		pl5.innerHTML = player5

		pl1.addEventListener("click", function(){

			selection = player1
			selection_selection.value = selection
			new_selection.submit()


		})

		pl2.addEventListener("click", function(){

			selection = player2
			selection_selection.value = selection
			new_selection.submit()


		})

		pl3.addEventListener("click", function(){

			selection = player3
			selection_selection.value = selection
			new_selection.submit()


		})

		pl4.addEventListener("click", function(){

			selection = player4
			selection_selection.value = selection
			new_selection.submit()


		})

		pl5.addEventListener("click", function(){

			selection = player5
			selection_selection.value = selection
			new_selection.submit()


		})



	</script>

</div>






































