<% @my_date %>
<% self.get_time %>
<% @players_left = [] %>
<% @contestants = [] %>
<% @selection_holder = [] %>
<% @needs_grading = false %>
<% @this_pools_groups = [] %>
<% @recalled = [] %>
<% @pool_players = [] %>
<% @pool_standings = [] %>
<% @off_stand = [] %>
<% @sorted_standings %>

<% self.get_pool_players %>
<% self.get_all_selections %>
<% self.get_pool_standings(@pool_standings) %>

<% @off_stand.each do |st| %>

	<% if st.class == Hash %>

		<div class="player_standings"><%= st[:name].to_s + " " + st[:picks].to_s %></div>

	<% end %>



<% end %>

<div>

	<%= form_for @group do |g| %>

		<%= g.text_field :pool_id, value: @pool.id %>
		<%= g.text_field :date, value: @my_date %>
		<%= g.text_field :player1 %>
		<%= g.text_field :player2 %>
		<%= g.text_field :player3 %>
		<%= g.text_field :player4 %>
		<%= g.text_field :player5 %>

		<%= g.submit %>

	<% end %>

</div>
























