<% @my_date %>
<% self.get_time %>
<% @players_left = [] %>
<% @still_alive = [] %>
<% @contestants = [] %>
<% @selection_holder = [] %>
<% @this_pools_groups = [] %>
<% @recalled = [] %>
<% @pool_players = [] %>
<% @pool_standings = [] %>
<% @off_stand = [] %>
<% @sorted_standings %>
<% @nfl_tickets = [] %>
<% @mlb_tickets = [] %>
<% @nba_tickets = [] %>
<% @all_tickets = [] %>
<% @group_tickets = [] %>
<% @winning_tickets = [] %>
<% @sorted_selections = [] %>
<% @tied_players = [] %>
<% @qualified_players = [] %>
<% @eliminated = [] %>
<% @op_sel = [] %>
<% @groups_total %>
<% @group_num = [4, 3, 5, 2] %>
<% @players_in_group = @group_num.sample %>
<% @ply1 = " " %>
<% @ply2 = " " %>
<% @ply3 = " " %>
<% @ply4 = " " %>
<% @ply5 = " " %>
<% @how_many_left %>
<% @in_pool = false %>
<% @new_pool = true %>
<% @all_check = false %>
<% @nfl_check = false %>
<% @nba_check = false %>
<% @mlb_check = false %>
<% @needs_grading = false %>
<% @current_selection = false %>
<% @group_ready = false %>
<% @qualified_player = false %>
<% @grade_ready = true %>
<% @elim = false %>
<% @create_ready = false %>
<% @commish = false %>
<% @many_groups = true %>
<% @no_graded = false %>
<% @show_standings = false %>
<% @create_group = false %>
<% all_new_selections = true %>
<% @design_1 = false %>
<% @design_2 = false %>
<% @design_3 = false %>
<% @design_4 = false %>
<% @design_5 = false %>
<% @design_6 = false %>
<% @design_7 = false %>
<% @design_8 = false %>
<% @design_9 = false %>
<% @player1_count = 0 %>
<% @player2_count = 0 %>
<% @player3_count = 0 %>
<% @player4_count = 0 %>
<% @player5_count = 0 %>

<% if current_user.id.to_s == @pool.commish_id %>

	<% @commish = true %>

<% end %>

<% @pool.selections.each do |s| %>

	
	<% if s.date != @my_date %>

		<% @all_new_selections = false %>

	<% end %>


<% end %>


<div class = "hide">

	<%= form_for @selection do |s| %>

		<%= s.text_field :pool_id, value: @pool.id %>
		<%= s.text_field :date, value: @my_date %>
		<%= s.text_field :user_id, value: current_user.id %>
		<%= s.text_field :group_id %>
		<%= s.text_field :selection %>

	<% end %>


</div>

	<% Ticket.all.each do |t| %>

		<% if t.date == @my_date %>

			<% @all_tickets.push(t) %>

			<% if t.sport == "NFL" %>

				<% @nfl_tickets.push(t) %>

			<% elsif t.sport == "NBA" %>

				<% @nba_tickets.push(t) %>
						
			<% elsif t.sport == "MLB" %>

				<% @mlb_tickets.push(t) %>
						
			<% end %>

		<% end %>

	<% end %>

	<% if @pool.sport == "NFL" %>

		<% if @nfl_tickets.length > 1 %>

			<% @group_ready = true %>

		<% end %>

	<% end %>

	<% if @pool.sport == "NBA" %>

		<% if @nba_tickets.length > 1 %>

			<% @group_ready = true %>

		<% end %>

	<% end %>

	<% if @pool.sport == "MLB" %>

		<% if @mlb_tickets.length > 1 %>

			<% @group_ready = true %>

		<% end %>

	<% end %>

	<% if @group_ready == true %>

		<% self.form_group %>

	<% end %>



	<div class ="hide">

		<%= form_for @group do |g| %>

			<%= g.text_field :pool_id, value: @pool.id %>
			<%= g.text_field :date, value: @my_date %>

			<% if @ply1.class.to_s == "Ticket" %>

				<%= g.text_field :player1, value: @ply1.name %>

			<% else %>

				<%= g.text_field :player1, value: " " %>

			<% end %>
			
			<% if @ply2.class.to_s == "Ticket" %>

				<%= g.text_field :player2, value: @ply2.name %>

			<% else %>

				<%= g.text_field :player2, value: " " %>

			<% end %>

			<% if @players_in_group == 3 %>

				<% @ply4 = " " %>
				<% @ply5 = " " %>

				<%= g.text_field :player4, value: @ply4 %>
				<%= g.text_field :player5, value: @ply5 %>

				<% if @ply3.class.to_s == "Ticket" %>

					<%= g.text_field :player3, value: @ply3.name %>

				<% else %>

					<%= g.text_field :player3, value: " " %>

				<% end %>

			<% end %>

			<% if @players_in_group == 4 %>

				<% @ply5 = " " %>

				<%= g.text_field :player5, value: @ply5 %>


				<% if @ply3.class.to_s == "Ticket" %>

					<%= g.text_field :player3, value: @ply3.name %>

				<% else %>

					<%= g.text_field :player3, value: " " %>

				<% end %>
				
				<% if @ply4.class.to_s == "Ticket" %>

					<%= g.text_field :player4, value: @ply4.name %>

				<% else %>

					<%= g.text_field :player4, value: " " %>

				<% end %>
				

			<% end %>

			<% if @players_in_group == 5 %>


				<% if @ply3.class.to_s == "Ticket" %>

					<%= g.text_field :player3, value: @ply3.name %>

				<% else %>

					<%= g.text_field :player3, value: " " %>

				<% end %>
				
				<% if @ply4.class.to_s == "Ticket" %>

					<%= g.text_field :player4, value: @ply4.name %>

				<% else %>

					<%= g.text_field :player4, value: " " %>

				<% end %>
			
				<% if @ply5.class.to_s == "Ticket" %>

					<%= g.text_field :player5, value: @ply5.name %>

				<% else %>

					<%= g.text_field :player5, value: " " %>

				<% end %>

			<% end %>

		<% end %>

	</div>

	<% self.get_pool_players %>


	<% @pool_players.each do |p| %>

		<% if p.id.to_i == current_user.id.to_i %>

			<% @in_pool = true %>

		<% end %>


	<% end %>

	<% @pool.selections.each do |s| %>

		<% if s.result == "none" && s.date != @my_date %>

			<% @op_sel.push(s.id) %>

			<% @needs_grading = true %>

		<% end %>

	<% end %>

	<% @op_sel = @op_sel.sort %>

	
	<% if @in_pool == true %>

		<% if @needs_grading == true %>

			<% @design_1 == true %>

		<% else %>

			<% if @pool.groups.length == 0 %>

				<% if @commish == true %>

					<% if @group_ready == true %>

						<% @design_2 == true %>

					<% else %>

						<% @design_3 = true %>

					<% end %>

				<% else %>

					<% @design_4 = true %> 

				<% end %>

			<% elsif @pool.groups.length == 1 && @all_new_selections == true %>

				<% current_user.selections.each do |s| %>

					<% if s.date == @my_date %>

						<% if s.pool_id.to_i == @pool.id.to_i %>

							<% @current_selection = true %>

						<% end %>

					<% end %>

				<% end %>

				<% if current_selection == true %>

					<% @design_5 = true %>

				<% else %>

					<% @design_6 = true %>

				<% end %>


			<% else %>

				<% self.get_remaining_contestants %>

				<% if @still_alive.length == 0 %>

					<% self.get_tied_users %>

					<% @design_7 = true %>

					<% @tied_players.each do |p| %>

						<div><%= p.username + " tied for the win " %></div>

					<% end %>

				<% elsif @still_alive.length == 1 %>

					<% @design_8 = true %>

					<div><%= @still_alive[0].username.upcase + " has won the pool" %>

				<% else %>

					<% if @pool.groups.last.date == @my_date %>

						<% if @current_selection == true %>

							<% @design_9 = true %>

						<% else %>

							<% @design_10 = true %>

						<% end %>

					<% else %>

						<% if @group_ready == true %>

							<% @design_11 = true %>

						<% else %>

							<% @design_12 = true %>

						<% end %>

					<% end %>

				<% end %>


			<% end %>

		<% end %>

	<% else %>

		YOU ARE NOT IN THIS POOL


	<% end %>



	
	

	


	



			

	























	






	

					

		






