<%= form_for @team do |t| %>

	Date:<div><%= t.text_field :date, :value => @my_date %></div>
	Team:<div><%= t.text_field :name %></div>
	Sport:<div><%= t.text_field :sport %></div>
	Spread:<div><%= t.text_field :spread %></div>
	Opponent:<div><%= t.text_field :opp %></div>
	Total:<div><%= t.text_field :total %></div>
	Start_Time:<div><%= t.text_field :start_time %></div>
	Team_line:<div><%= t.text_field :home_line %></div>
	OPP_line:<div><%= t.text_field :opp_line %></div>
	Over_Pick:<div><%= t.text_field :over_line %></div>
	Under_Pick:<div><%= t.text_field :under_line %></div>
	Score:<div><%= t.text_field :score %></div>
	Opp_Score:<div><%= t.text_field :opp_score %></div>
	Total Points:<div><%= t.text_field :total_points %></div>
	Spread_Result:<div><%= t.text_field :spread_result %></div>
	Total_Result:<div><%= t.text_field :total_result %></div>
	Show:<div><%= t.text_field :display %></div>


	<%= t.submit %>



<% end %>


<% @winners = [] %>
<% @losers = [] %>

<% @winners.push(@team.name) %>
<% @winners.push(@team.date) %>
<% @winners.push(@team.sport) %>
<% @winners.push(@team.total) %>
<%= @winners %>

<% @winners.each do |w| %>

	<% if w == "Ravens" %>

		<%= w %>

	<% end %>

	

		

	

<% end %>


