<%= form_for @team do |t| %>

	Date:<div><%= t.text_field :date %></div>
	Name:<div><%= t.text_field :name %></div>
	Sport:<div><%= t.text_field :sport %></div>
	Spread:<div><%= t.text_field :spread %></div>
	Total:<div><%= t.text_field :total %></div>
	Line:<div><%= t.text_field :sides_line %></div>
	Total_Line:<div><%= t.text_field :total_line %></div>
	Score:<div><%= t.text_field :score %></div>
	Opp_Score:<div><%= t.text_field :opp_score %></div>
	Total Points:<div><%= t.text_field :total_points %></div>
	Spread_Result:<div><%= t.text_field :spread_result %></div>
	Total_Result:<div><%= t.text_field :total_result %></div>
	Show:<div><%= t.text_field :display %></div>


	<%= t.submit %>

<% end %>
