<% @my_date %>
<% self.get_time %>
<% @start_month %>


<div id="pool_index_head">BOOKIE WARS</div>

<div id="pools_index_cont">
	
	<div id="fan_rules">
		
		<div id="rules_head">GAME RULES</div>

		<div id="rules_text">
			
			<p>Bookie Wars is a sports betting game where the contestants book the wagers of their client roster.  Bookie Wars is played in a league format.  All leagues have a start date and an end date.</p>


			<p>All contestatents are issued the same number of clients at the start of a league.  Leagues can have three, six or nine clients.  </p>

			<p>Contestants are in charge of the attributes of their clients.  Each client has four different attributes that has multiple option settings. These attributes are: Sport, Stakes, Frequency, and Type.</p>

			<p>A running tally of profit is kept on each sports book in the league and standings are kept.</p>

			<p>You can only book your new days action once the previous night's action is graded.  The BOOK and GRADE controls are found on the league's home page.</p>

			<p>The last day of a league is the end date that was set by the commissioner.

			<p>You can play in as many leagues as you want at the same time.</p>




		</div>







	</div>

	<div class = "hide">
	
	<%= form_for @league do |l| %>
		
		<div>League Name: <%= l.text_field :league_name %></div>
		<div>Password: <%= l.text_field :pass %></div>
		<div># Of Clients: <%= l.text_field :clients %></div>
		<div>END DATE: <%= l.text_field :end_date %></div>
		<div>START DATE: <%= l.text_field :start_date %></div>
		<%= l.submit %>
		
	<% end %>

</div>

		
	<div id="pool_create_cont">

		<script>
			
			function turnBlue(array){

				for (i=0; i<array.length; i++) {

					array[i].style.color = "blue"
					

				}

			}

		</script>

		<div id="create_pool_label">CREATE NEW LEAGUE</div>

		<div class = "top_fields">League Name: <input type="text" name="" id="league_name"></div>

		<div class = "top_fields">Password: <input type="text" name="password" id="pass"></div>

		 <div class = "top_fields"># Of Clients:
			<div class="hide"><input list="client_num" name="client_num" id="client_number" /></div>
	
			<div id="option1" class="all_options"></div>
			<div id="option2" class="all_options"></div>
			<div id="option3" class="all_options"></div>
			<div id="option4" class= "all_options"></div>
			<div id="option5" class = "all_options" ></div>

			<script>
				
				var option1 = document.getElementById("option1")
				var option2 = document.getElementById("option2")
				var option3 = document.getElementById("option3")
				var option4 = document.getElementById("option4")
				var option5 = document.getElementById("option5")
				var allOptions = document.getElementsByClassName("all_options")

				option1.innerHTML = 2
				option2.innerHTML = 4
				option3.innerHTML = 8
				option4.innerHTML = 12		
				option5.innerHTML = 20
				
				option1.style.color = "blue"
				option2.style.color = "blue"
				option3.style.color = "blue"
				option4.style.color = "blue"
				option5.style.color = "blue"
				
				option1.addEventListener("click", function(){

					turnBlue(allOptions)

					option1.style.color = "gray"

					client_number.value = option1.innerHTML


				})

				option2.addEventListener("click", function(){

					turnBlue(allOptions)

					option2.style.color = "gray"

					client_number.value = option2.innerHTML


				})

				option3.addEventListener("click", function(){

					turnBlue(allOptions)

					option3.style.color = "gray"

					client_number.value = option3.innerHTML


				})

				option4.addEventListener("click", function(){

					turnBlue(allOptions)

					option4.style.color = "gray"

					client_number.value = option4.innerHTML


				})

				option5.addEventListener("click", function(){

					turnBlue(allOptions)

					option5.style.color = "gray"

					client_number.value = option5.innerHTML


				})

			</script>
			

		</div>

		<div id="start_date">START DATE </div>

		<div class = "top_fields">MONTH:

			<div class="hide"><input name="month" id="start_month"></div> 

			<div id="month1" class="all_months"></div>		
			<div id="month2" class="all_months"></div>
			<div id="month3" class="all_months"></div>
			<div id="month4" class="all_months"></div>
			<div id="month5" class="all_months"></div>
			<div id="month6" class="all_months"></div>
			<div id="month7" class="all_months"></div>
			<div id="month8" class="all_months"></div>
			<div id="month9" class="all_months"></div>
			<div id="month10" class="all_months"></div>
			<div id="month11" class="all_months"></div>
			<div id="month12" class="all_months"></div>



		</div>

		<script>

				var allMonths = document.getElementsByClassName("all_months")

				
				
				var month1 = document.getElementById("month1")
				var month2 = document.getElementById("month2")
				var month3 = document.getElementById("month3")
				var month4 = document.getElementById("month4")
				var month5 = document.getElementById("month5")
				var month6 = document.getElementById("month6")
				var month7 = document.getElementById("month7")
				var month8 = document.getElementById("month8")
				var month9 = document.getElementById("month9")
				var month10 = document.getElementById("month10")
				var month11 = document.getElementById("month11")
				var month12 = document.getElementById("month12")

				function turnBlue(array){

					for (i = 0; i<array.length; i++) {

						array[i].style.color = "blue"
			
					}
				}

				month1.innerHTML = "Jan"
				month2.innerHTML = "Feb"
				month3.innerHTML = "Mar"
				month4.innerHTML = "Apr"
				month5.innerHTML = "May"
				month6.innerHTML = "Jun"
				month7.innerHTML = "Jul"
				month8.innerHTML = "Aug"
				month9.innerHTML = "Sep"
				month10.innerHTML = "Oct"
				month11.innerHTML = "Nov"
				month12.innerHTML = "Dec"

				month1.addEventListener("click", function(){

					start_month.value = "Jan"

					turnBlue(allMonths)

					month1.style.color = "gray"




				})

				month2.addEventListener("click", function(){

					start_month.value = "Feb"

					turnBlue(allMonths)

					month2.style.color = "gray"

				})

				month3.addEventListener("click", function(){

					start_month.value = "Mar"

					turnBlue(allMonths)

					month3.style.color = "gray"

				})

				month4.addEventListener("click", function(){

					start_month.value = "Apr"

					turnBlue(allMonths)

					month4.style.color = "gray"

				})

				month5.addEventListener("click", function(){

					start_month.value = "May"

					turnBlue(allMonths)

					month5.style.color = "gray"

				})

				month6.addEventListener("click", function(){

					start_month.value = "Jun"

					turnBlue(allMonths)

					month6.style.color = "gray"

				})

				month7.addEventListener("click", function(){

					start_month.value = "Jul"

					turnBlue(allMonths)

					month7.style.color = "gray"

				})

				month8.addEventListener("click", function(){

					start_month.value = "Aug"

					turnBlue(allMonths)

					month8.style.color = "gray"

				})

				month9.addEventListener("click", function(){

					start_month.value = "Sep"

					turnBlue(allMonths)

					month9.style.color = "gray"

				})

				month10.addEventListener("click", function(){

					start_month.value = "Oct"

					turnBlue(allMonths)

					month10.style.color = "gray"

				})

				month11.addEventListener("click", function(){

					start_month.value = "Nov"

					turnBlue(allMonths)

					month11.style.color = "gray"

				})

				month12.addEventListener("click", function(){

					start_month.value = "Dec"

					turnBlue(allMonths)

					month12.style.color = "gray"

				})


			</script>

			<div class = "top_fields">DAY:

				<div class="hide"><input name="day" id="start_day" ></div> 

				<div id="day1" class="all_days"></div>
				<div id="day2" class="all_days"></div>
				<div id="day3" class="all_days"></div>
				<div id="day4" class="all_days"></div>
				<div id="day5" class="all_days"></div>
				<div id="day6" class="all_days"></div>
				<div id="day7" class="all_days"></div>
				<div id="day8" class="all_days"></div>
				<div id="day9" class="all_days"></div>
				<div id="day10" class="all_days"></div>
				<div id="day11" class="all_days"></div>
				<div id="day12" class="all_days"></div>
				<div id="day13" class="all_days"></div>
				<div id="day14" class="all_days"></div>
				<div id="day15" class="all_days"></div>
				<div id="day16" class="all_days"></div>
				<div id="day17" class="all_days"></div>
				<div id="day18" class="all_days"></div>
				<div id="day19" class="all_days"></div>
				<div id="day20" class="all_days"></div>
				<div id="day21" class="all_days"></div>
				<div id="day22" class="all_days"></div>
				<div id="day23" class="all_days"></div>
				<div id="day24" class="all_days"></div>
				<div id="day25" class="all_days"></div>
				<div id="day26" class="all_days"></div>
				<div id="day27" class="all_days"></div>
				<div id="day28" class="all_days"></div>
				<div id="day29" class="all_days"></div>
				<div id="day30" class="all_days"></div>
				<div id="day31" class="all_days"></div>


			</div>

			<script>

				var allDays = document.getElementsByClassName("all_days")
				
				var day1 = document.getElementById("day1")
				var day2 = document.getElementById("day2")
				var day3 = document.getElementById("day3")
				var day4 = document.getElementById("day4")
				var day5 = document.getElementById("day5")
				var day6 = document.getElementById("day6")
				var day7 = document.getElementById("day7")
				var day8 = document.getElementById("day8")
				var day9 = document.getElementById("day9")
				var day10 = document.getElementById("day10")
				var day11 = document.getElementById("day11")
				var day12 = document.getElementById("day12")
				var day13 = document.getElementById("day13")
				var day14 = document.getElementById("day14")
				var day15 = document.getElementById("day15")
				var day16 = document.getElementById("day16")
				var day17 = document.getElementById("day17")
				var day18 = document.getElementById("day18")
				var day19 = document.getElementById("day19")
				var day20 = document.getElementById("day20")
				var day21 = document.getElementById("day21")
				var day22 = document.getElementById("day22")
				var day23 = document.getElementById("day23")
				var day24 = document.getElementById("day24")
				var day25 = document.getElementById("day25")
				var day26 = document.getElementById("day26")
				var day27 = document.getElementById("day27")
				var day28 = document.getElementById("day28")
				var day29 = document.getElementById("day29")
				var day30 = document.getElementById("day30")
				var day31 = document.getElementById("day31")

				day1.innerHTML = "1"
				day2.innerHTML = "2"
				day3.innerHTML = "3"
				day4.innerHTML = "4"
				day5.innerHTML = "5"
				day6.innerHTML = "6"
				day7.innerHTML = "7"
				day8.innerHTML = "8"
				day9.innerHTML = "9"
				day10.innerHTML = "10"
				day11.innerHTML = "11"
				day12.innerHTML = "12"
				day13.innerHTML = "13"
				day14.innerHTML = "14"
				day15.innerHTML = "15"
				day16.innerHTML = "16"
				day17.innerHTML = "17"
				day18.innerHTML = "18"
				day19.innerHTML = "19"
				day20.innerHTML = "20"
				day21.innerHTML = "21"
				day22.innerHTML = "22"
				day23.innerHTML = "23"
				day24.innerHTML = "24"
				day25.innerHTML = "25"
				day26.innerHTML = "26"
				day27.innerHTML = "27"
				day28.innerHTML = "28"
				day29.innerHTML = "29"
				day30.innerHTML = "30"
				day31.innerHTML = "31"

				day1.addEventListener("click", function(){

					start_day.value = "01"

					turnBlue(allDays)

					day1.style.color = "red"

				})

				day2.addEventListener("click", function(){

					start_day.value = "02"

					turnBlue(allDays)

					day2.style.color = "red"

				})

				day3.addEventListener("click", function(){

					start_day.value = "03"

					turnBlue(allDays)

					day3.style.color = "red"

				})

				day4.addEventListener("click", function(){

					start_day.value = "04"

					turnBlue(allDays)

					day4.style.color = "red"

				})

				day5.addEventListener("click", function(){

					start_day.value = "05"

					turnBlue(allDays)

					day5.style.color = "red"

				})

				day6.addEventListener("click", function(){

					start_day.value = "06"

					turnBlue(allDays)

					day6.style.color = "red"

				})

				day7.addEventListener("click", function(){

					start_day.value = "07"

					turnBlue(allDays)

					day7.style.color = "red"

				})

				day8.addEventListener("click", function(){

					start_day.value = "08"

					turnBlue(allDays)

					day8.style.color = "red"

				})

				day9.addEventListener("click", function(){

					start_day.value = "09"

					turnBlue(allDays)

					day9.style.color = "red"

				})

				day10.addEventListener("click", function(){

					start_day.value = "10"

					turnBlue(allDays)

					day10.style.color = "red"

				})

				day11.addEventListener("click", function(){

					start_day.value = "11"

					turnBlue(allDays)

					day11.style.color = "red"

				})

				day12.addEventListener("click", function(){

					start_day.value = "12"

					turnBlue(allDays)

					day12.style.color = "red"

				})

				day13.addEventListener("click", function(){

					start_day.value = "13"

					turnBlue(allDays)

					day13.style.color = "red"

				})

				day14.addEventListener("click", function(){

					start_day.value = "14"

					turnBlue(allDays)

					day14.style.color = "red"

				})

				day15.addEventListener("click", function(){

					start_day.value = "15"

					turnBlue(allDays)

					day15.style.color = "red"

				})

				day16.addEventListener("click", function(){

					start_day.value = "16"

					turnBlue(allDays)

					day16.style.color = "red"

				})

				day17.addEventListener("click", function(){

					start_day.value = "17"

					turnBlue(allDays)

					day17.style.color = "red"

				})

				day18.addEventListener("click", function(){

					start_day.value = "18"

					turnBlue(allDays)

					day18.style.color = "red"

				})


				day19.addEventListener("click", function(){

					start_day.value = "19"

					turnBlue(allDays)

					day19.style.color = "red"

				})

				day20.addEventListener("click", function(){

					start_day.value = "20"

					turnBlue(allDays)

					day20.style.color = "red"

				})

				day21.addEventListener("click", function(){

					start_day.value = "21"

					turnBlue(allDays)

					day21.style.color = "red"

				})

				day22.addEventListener("click", function(){

					start_day.value = "22"

					turnBlue(allDays)

					day22.style.color = "red"

				})

				day23.addEventListener("click", function(){

					start_day.value = "23"

					turnBlue(allDays)

					day23.style.color = "red"

				})

				day24.addEventListener("click", function(){

					start_day.value = "24"

					turnBlue(allDays)

					day24.style.color = "red"

				})

				day25.addEventListener("click", function(){

					start_day.value = "25"

					turnBlue(allDays)

					day25.style.color = "red"

				})

				day26.addEventListener("click", function(){

					start_day.value = "26"

					turnBlue(allDays)

					day26.style.color = "red"

				})

				day27.addEventListener("click", function(){

					start_day.value = "27"

					turnBlue(allDays)

					day27.style.color = "red"

				})

				day28.addEventListener("click", function(){

					start_day.value = "28"

					turnBlue(allDays)

					day28.style.color = "red"

				})

				day29.addEventListener("click", function(){

					start_day.value = "29"

					turnBlue(allDays)

					day29.style.color = "red"

				})

				day30.addEventListener("click", function(){

					start_day.value = "30"

					turnBlue(allDays)

					day30.style.color = "red"

				})

				day31.addEventListener("click", function(){

					start_day.value = "31"

					turnBlue(allDays)

					day31.style.color = "red"

				})


			</script>

			<div class = "top_fields">YEAR:
				
				<div class = "hide"><input list="year" name="year" id="start_year" /></div>	
			
				<div id="year1" class="all_years"></div>
				<div id="year2" class="all_years"></div>

			

				<script>
					
					var year1 = document.getElementById("year1")
					var year2 = document.getElementById("year2")

					var allYears = document.getElementsByClassName("all_years")

					for(i=0; i<allYears.length; i++){

						allYears[i].style.display = "inline-block"
					}


					year1.innerHTML = "2019"
					year2.innerHTML = "2020"

					year1.style.color = "blue"
					year2.style.color = "blue"

					year1.addEventListener("click", function(){

						start_year.value = "2019"

						turnBlue(allYears)

						year1.style.color = "gray"

					})

					year2.addEventListener("click", function(){

						start_year.value = "2020"

						turnBlue(allYears)

						year2.style.color = "gray"

					})



				</script>




			</div>

			<div class="end_date">END DATE</div>

			<div class= "top_fields">MONTH: 
				
				<div class="hide"><input name="month" id="end_month"></div>

				<div id="emonth1" class="eall_months"></div>
				<div id="emonth2" class="eall_months"></div>
				<div id="emonth3" class="eall_months"></div>
				<div id="emonth4" class="eall_months"></div>
				<div id="emonth5" class="eall_months"></div>
				<div id="emonth6" class="eall_months"></div>
				<div id="emonth7" class="eall_months"></div>
				<div id="emonth8" class="eall_months"></div>
				<div id="emonth9" class="eall_months"></div>
				<div id="emonth10" class="eall_months"></div>
				<div id="emonth11" class="eall_months"></div>
				<div id="emonth12" class="eall_months"></div>

			</div>

			<script>

				var eallMonths = document.getElementsByClassName("eall_months")
				console.log(eallMonths)
				
				
				var month1E = document.getElementById("emonth1")
				var month2E = document.getElementById("emonth2")
				var month3E = document.getElementById("emonth3")
				var month4E = document.getElementById("emonth4")
				var month5E = document.getElementById("emonth5")
				var month6E = document.getElementById("emonth6")
				var month7E = document.getElementById("emonth7")
				var month8E = document.getElementById("emonth8")
				var month9E = document.getElementById("emonth9")
				var month10E = document.getElementById("emonth10")
				var month11E = document.getElementById("emonth11")
				var month12E = document.getElementById("emonth12")

				function turnBlue(array){

					for (i = 0; i<array.length; i++) {

						array[i].style.color = "blue"
			
					}
				}

				month1E.innerHTML = "Jan"
				month2E.innerHTML = "Feb"
				month3E.innerHTML = "Mar"
				month4E.innerHTML = "Apr"
				month5E.innerHTML = "May"
				month6E.innerHTML = "Jun"
				month7E.innerHTML = "Jul"
				month8E.innerHTML = "Aug"
				month9E.innerHTML = "Sep"
				month10E.innerHTML = "Oct"
				month11E.innerHTML = "Nov"
				month12E.innerHTML = "Dec"

				turnBlue(eallMonths)

				month1E.addEventListener("click", function(){

					end_month.value = "Jan"

					turnBlue(eallMonths)

					month1E.style.color = "gray"




				})

				month2E.addEventListener("click", function(){

					end_month.value = "Feb"

					turnBlue(eallMonths)

					month2E.style.color = "gray"

				})

				month3E.addEventListener("click", function(){

					end_month.value = "Mar"

					turnBlue(eallMonths)

					month3E.style.color = "gray"

				})

				month4E.addEventListener("click", function(){

					end_month.value = "Apr"

					turnBlue(eallMonths)

					month4E.style.color = "gray"

				})

				month5E.addEventListener("click", function(){

					end_month.value = "May"

					turnBlue(eallMonths)

					month5E.style.color = "gray"

				})

				month6E.addEventListener("click", function(){

					end_month.value = "Jun"

					turnBlue(eallMonths)

					month6E.style.color = "gray"

				})

				month7E.addEventListener("click", function(){

					end_month.value = "Jul"

					turnBlue(eallMonths)

					month7E.style.color = "gray"

				})

				month8E.addEventListener("click", function(){

					end_month.value = "Aug"

					turnBlue(eallMonths)

					month8E.style.color = "gray"

				})

				month9E.addEventListener("click", function(){

					end_month.value = "Sep"

					turnBlue(eallMonths)

					month9E.style.color = "gray"

				})

				month10E.addEventListener("click", function(){

					end_month.value = "Oct"

					turnBlue(eallMonths)

					month10E.style.color = "gray"

				})

				month11E.addEventListener("click", function(){

					end_month.value = "Nov"

					turnBlue(eallMonths)

					month11E.style.color = "gray"

				})

				month12E.addEventListener("click", function(){

					end_month.value = "Dec"

					turnBlue(eallMonths)

					month12E.style.color = "gray"

				})


			</script>

			<div class= "top_fields">Day: 
				<div class="hide"><input name="day" id="end_day" ></div>

				<div id="eday1" class="eall_days"></div>
				<div id="eday2" class="eall_days"></div>
				<div id="eday3" class="eall_days"></div>
				<div id="eday4" class="eall_days"></div>
				<div id="eday5" class="eall_days"></div>
				<div id="eday6" class="eall_days"></div>
				<div id="eday7" class="eall_days"></div>
				<div id="eday8" class="eall_days"></div>
				<div id="eday9" class="eall_days"></div>
				<div id="eday10" class="eall_days"></div>
				<div id="eday11" class="eall_days"></div>
				<div id="eday12" class="eall_days"></div>
				<div id="eday13" class="eall_days"></div>
				<div id="eday14" class="eall_days"></div>
				<div id="eday15" class="eall_days"></div>
				<div id="eday16" class="eall_days"></div>
				<div id="eday17" class="eall_days"></div>
				<div id="eday18" class="eall_days"></div>
				<div id="eday19" class="eall_days"></div>
				<div id="eday20" class="eall_days"></div>
				<div id="eday21" class="eall_days"></div>
				<div id="eday22" class="eall_days"></div>
				<div id="eday23" class="eall_days"></div>
				<div id="eday24" class="eall_days"></div>
				<div id="eday25" class="eall_days"></div>
				<div id="eday26" class="eall_days"></div>
				<div id="eday27" class="eall_days"></div>
				<div id="eday28" class="eall_days"></div>
				<div id="eday29" class="eall_days"></div>
				<div id="eday30" class="eall_days"></div>
				<div id="eday31" class="eall_days"></div>

			</div>

		<script>

			var eallDays = document.getElementsByClassName("eall_days")
			
			var eday1 = document.getElementById("eday1")
			var eday2 = document.getElementById("eday2")
			var eday3 = document.getElementById("eday3")
			var eday4 = document.getElementById("eday4")
			var eday5 = document.getElementById("eday5")
			var eday6 = document.getElementById("eday6")
			var eday7 = document.getElementById("eday7")
			var eday8 = document.getElementById("eday8")
			var eday9 = document.getElementById("eday9")
			var eday10 = document.getElementById("eday10")
			var eday11 = document.getElementById("eday11")
			var eday12 = document.getElementById("eday12")
			var eday13 = document.getElementById("eday13")
			var eday14 = document.getElementById("eday14")
			var eday15 = document.getElementById("eday15")
			var eday16 = document.getElementById("eday16")
			var eday17 = document.getElementById("eday17")
			var eday18 = document.getElementById("eday18")
			var eday19 = document.getElementById("eday19")
			var eday20 = document.getElementById("eday20")
			var eday21 = document.getElementById("eday21")
			var eday22 = document.getElementById("eday22")
			var eday23 = document.getElementById("eday23")
			var eday24 = document.getElementById("eday24")
			var eday25 = document.getElementById("eday25")
			var eday26 = document.getElementById("eday26")
			var eday27 = document.getElementById("eday27")
			var eday28 = document.getElementById("eday28")
			var eday29 = document.getElementById("eday29")
			var eday30 = document.getElementById("eday30")
			var eday31 = document.getElementById("eday31")

			turnBlue(eallDays)

			eday1.innerHTML = "1"
			eday2.innerHTML = "2"
			eday3.innerHTML = "3"
			eday4.innerHTML = "4"
			eday5.innerHTML = "5"
			eday6.innerHTML = "6"
			eday7.innerHTML = "7"
			eday8.innerHTML = "8"
			eday9.innerHTML = "9"
			eday10.innerHTML = "10"
			eday11.innerHTML = "11"
			eday12.innerHTML = "12"
			eday13.innerHTML = "13"
			eday14.innerHTML = "14"
			eday15.innerHTML = "15"
			eday16.innerHTML = "16"
			eday17.innerHTML = "17"
			eday18.innerHTML = "18"
			eday19.innerHTML = "19"
			eday20.innerHTML = "20"
			eday21.innerHTML = "21"
			eday22.innerHTML = "22"
			eday23.innerHTML = "23"
			eday24.innerHTML = "24"
			eday25.innerHTML = "25"
			eday26.innerHTML = "26"
			eday27.innerHTML = "27"
			eday28.innerHTML = "28"
			eday29.innerHTML = "29"
			eday30.innerHTML = "30"
			eday31.innerHTML = "31"

			eday1.addEventListener("click", function(){

				end_day.value = "01"

				turnBlue(eallDays)

				eday1.style.color = "red"

			})

			eday2.addEventListener("click", function(){

				end_day.value = "02"

				turnBlue(allDays)

				eday2.style.color = "red"

			})

			eday3.addEventListener("click", function(){

				end_day.value = "03"

				turnBlue(allDays)

				eday3.style.color = "red"

			})

			eday4.addEventListener("click", function(){

				end_day.value = "04"

				turnBlue(allDays)

				eday4.style.color = "red"

			})

			eday5.addEventListener("click", function(){

				end_day.value = "05"

				turnBlue(allDays)

				eday5.style.color = "red"

			})

			eday6.addEventListener("click", function(){

				end_day.value = "06"

				turnBlue(allDays)

				eday6.style.color = "red"

			})

			eday7.addEventListener("click", function(){

				end_day.value = "07"

				turnBlue(allDays)

				eday7.style.color = "red"

			})

			eday8.addEventListener("click", function(){

				end_day.value = "08"

				turnBlue(allDays)

				eday8.style.color = "red"

			})

			eday9.addEventListener("click", function(){

				end_day.value = "09"

				turnBlue(allDays)

				eday9.style.color = "red"

			})

			eday10.addEventListener("click", function(){

				end_day.value = "10"

				turnBlue(allDays)

				eday10.style.color = "red"

			})

			eday11.addEventListener("click", function(){

				end_day.value = "11"

				turnBlue(allDays)

				eday11.style.color = "red"

			})

			eday12.addEventListener("click", function(){

				end_day.value = "12"

				turnBlue(allDays)

				eday12.style.color = "red"

			})

			eday13.addEventListener("click", function(){

				end_day.value = "13"

				turnBlue(allDays)

				eday13.style.color = "red"

			})

			eday14.addEventListener("click", function(){

				end_day.value = "14"

				turnBlue(allDays)

				eday14.style.color = "red"

			})

			eday15.addEventListener("click", function(){

				end_day.value = "15"

				turnBlue(allDays)

				eday15.style.color = "red"

			})

			eday16.addEventListener("click", function(){

				end_day.value = "16"

				turnBlue(allDays)

				eday16.style.color = "red"

			})

			eday17.addEventListener("click", function(){

				end_day.value = "17"

				turnBlue(allDays)

				eday17.style.color = "red"

			})

			eday18.addEventListener("click", function(){

				end_day.value = "18"

				turnBlue(allDays)

				eday18.style.color = "red"

			})


			eday19.addEventListener("click", function(){

				end_day.value = "19"

				turnBlue(allDays)

				eday19.style.color = "red"

			})

			eday20.addEventListener("click", function(){

				end_day.value = "20"

				turnBlue(allDays)

				eday20.style.color = "red"

			})

			eday21.addEventListener("click", function(){

				end_day.value = "21"

				turnBlue(allDays)

				eday21.style.color = "red"

			})

			eday22.addEventListener("click", function(){

				end_day.value = "22"

				turnBlue(allDays)

				eday22.style.color = "red"

			})

			eday23.addEventListener("click", function(){

				end_day.value = "23"

				turnBlue(allDays)

				eday23.style.color = "red"

			})

			eday24.addEventListener("click", function(){

				end_day.value = "24"

				turnBlue(allDays)

				eday24.style.color = "red"

			})

			eday25.addEventListener("click", function(){

				end_day.value = "25"

				turnBlue(allDays)

				eday25.style.color = "red"

			})

			eday26.addEventListener("click", function(){

				end_day.value = "26"

				turnBlue(allDays)

				eday26.style.color = "red"

			})

			eday27.addEventListener("click", function(){

				end_day.value = "27"

				turnBlue(allDays)

				eday27.style.color = "red"

			})

			eday28.addEventListener("click", function(){

				end_day.value = "28"

				turnBlue(allDays)

				eday28.style.color = "red"

			})

			eday29.addEventListener("click", function(){

				end_day.value = "29"

				turnBlue(allDays)

				eday29.style.color = "red"

			})

			eday30.addEventListener("click", function(){

				end_day.value = "30"

				turnBlue(allDays)

				eday30.style.color = "red"

			})

			eday31.addEventListener("click", function(){

				end_day.value = "31"

				turnBlue(allDays)

				eday31.style.color = "red"

			})


		</script>

		<div class = "top_fields">YEAR: 
				
			<div class = "hide"><input list="year" name="year" id="end_year" /></div>

			
		
			<div id="eyear1" class="eall_years"></div>
			<div id="eyear2" class="eall_years"></div>

		</div>

		<script>
			
			var eyear1 = document.getElementById("eyear1")
			var eyear2 = document.getElementById("eyear2")

			var eallYears = document.getElementsByClassName("eall_years")

			eyear1.innerHTML = "2019"
			eyear2.innerHTML = "2020"

			eyear1.style.color = "blue"
			eyear2.style.color = "blue"

			eyear1.addEventListener("click", function(){

				end_year.value = "2019"

				turnBlue(eallYears)

				eyear1.style.color = "gray"

			})

			eyear2.addEventListener("click", function(){

				end_year.value = "2020"

				turnBlue(eallYears)

				eyear2.style.color = "gray"

			})



		</script>

		<input type="submit" name="" value="Create League" id="sub_btn">

	</div>

	

		<div id="pass_index">

			<div id="pass_text">
		
				<p> If you are entering a new league for the first time, enter that League's password in the box below...</p>






			</div>

			<div id="pass_btns">
	
			PASSWORD: <input type="text" name="" id="pass_pool">
			<input type="submit" value="ENTER" id="sub_pass_pool">

			</div>

	</div>
		

		

		



		</div>


	<script>

		

		

		var sub_btn = document.getElementById("sub_btn")

		var pass = document.getElementById("pass")
		
		
		sub_btn.addEventListener("click", function(){


			var endDate = end_day.value + " " + end_month.value + " " + end_year.value

			var startDate = start_day.value + " " + start_month.value + " " + start_year.value

			console.log(startDate)

			var pass_holder = []

			var passW = " "

			var test = false

			<% League.all.each do |l| %>

					passW = "<%= l.pass %>"

					pass_holder.push(passW)

			<% end %>

			for(i=0; i<pass_holder.length; i++){

				if (pass_holder[i] == pass.value){

					test = true
				}
			}


			if (test == true){

				alert("THAT PASSWORD IS TAKEN")
			}else{


				league_league_name.value = league_name.value
				league_pass.value = pass.value
				league_clients.value = client_number.value
				league_end_date.value = endDate
				league_start_date.value = startDate
				
				new_league.submit()

			}


		})




	</script>

	<div class="hide">


		<%= form_for @secret do |p| %>

				<%= p.text_field :pass %>
				<%= p.text_field :kind, :value => "league" %>
				<%= p.text_field :user_id, :value => current_user.id %>
				<%= p.text_field :date, :value => @my_date %>
				<%= p.submit %>

		<% end %>

	</div>



<script>

	var secret = document.getElementById("pass_pool")
	var secSub = document.getElementById("sub_pass_pool")
	
	secSub.addEventListener("click", function(){

		var myDate = "<%= @my_date %>"
		var startDate

		var pass_holder = []

		var passW = " "

		var test = false

		<% League.all.each do |l| %>

			passW = {pass: "<%= l.pass %>", date: "<%= l.start_date %>"}

			pass_holder.push(passW)

		<% end %>

		for(i=0; i<pass_holder.length; i++){

			if (pass_holder[i].pass == secret.value){

				startDate = pass_holder[i].date
			}
		}

		function serial(date){

			var day = date[0] + date[1]
			var month = date[3] + date[4] + date[5]
			var year = date[7] + date[8] + date[9] + date[10]

			if (month == "Jan"){

				month = "01"
			
			}else if (month == "Feb"){

				month = "02"
			
			}else if (month == "Mar"){

				month = "03"
			
			}else if (month == "Apr"){

				month = "04"
			
			}else if (month == "May"){

				month = "05"
			
			}else if (month == "Jun"){

				month = "06"
			
			}else if (month == "Jul"){

				month = "07"
			
			}else if (month == "Aug"){

				month = "08"
			
			}else if (month == "Sep"){

				month = "09"
			
			}else if (month == "Oct"){

				month = "10"
			
			}else if (month == "Nov"){

				month = "11"
			
			}else if (month == "Dec"){

				month = "12"
			}

			var serialNum = year + month + day
			var serialNum = parseInt(serialNum)

			return serialNum         
		}

		if (serial(startDate) >= serial(myDate)){

			secret_pass.value = secret.value

			new_secret.submit()



		}else{

			console.log(startDate)
			console.log(myDate)

			alert("I'M SORRY BUT THAT LEAGUE HAS STARTED")
		
		}



	})


</script>








</div>
</div>













