<% @my_date %>
<% self.get_time %>
<% @start_month %>


<div id="pool_index_head">BOOKIE WARS</div>

<div id="pools_index_cont">
	
	<div id="fan_rules">
		
		<div id="rules_head">GAME RULES</div>

		<div id="rules_text">
			
			<p>Bookie Wars is a sports betting game where the contestants book the wagers of their client roster.  Bookie Wars is played in a league format.  All leagues have a start date and an end date.</p>


			<p>All contestatents are issued the same number of clients at the start of a league.  Leagues can have three, six or nine clients.  </p>

			<p>Contestants are in charge of the attributes of their clients.  Each client has four different attributes that has multiple option settings. These attributes are: Sport, Stakes, Frequency, and Type.</p>

			<p>A running tally of profit is kept on each sports book in the league and standings are kept.</p>

			<p>You can only book your new days action once the previous night's action is graded.  The BOOK and GRADE controls are found on the league's home page.</p>

			<p>The last day of a league is the end date that was set by the commissioner.

			<p>You can play in as many leagues as you want at the same time.</p>




		</div>







	</div>

	<div class = "hide">
	
	<%= form_for @league do |l| %>
		
		<div>League Name: <%= l.text_field :league_name %></div>
		<div>Password: <%= l.text_field :pass %></div>
		<div># Of Clients: <%= l.text_field :clients %></div>
		<div>END DATE: <%= l.text_field :end_date %></div>
		<div>START DATE: <%= l.text_field :start_date %></div>
		<%= l.submit %>
		
	<% end %>

</div>

		
	<div id="pool_create_cont">

		<div id="create_pool_label">CREATE NEW LEAGUE</div>

		<div class="pool_fields">
			
			League Name: <input type="text" name="" id="league_name">


		</div>
		
		<div class = "pool_fields">
			
			Password: <input type="text" name="password" id="pass">

		</div>

		<div class = "pool_fields">
			
		 <div># Of Clients:
			<input list="client_num" name="client_num" id="client_number" /></div>
	
			<div id="option1"></div>
			<div id="option2"></div>
			<div id="option3"></div>

			<script>
				
				var option1 = document.getElementById("option1")
				var option2 = document.getElementById("option2")
				var option3 = document.getElementById("option3")

				option1.innerHTML = 3
				option1.innerHTML = 6
				option1.innerHTML = 9
				
				option1.addEventListener("click", function(){

					client_number.value = option1.innerHTML


				})

				option2.addEventListener("click", function(){

					client_number.value = option2.innerHTML


				})

				option3.addEventListener("click", function(){

					client_number.value = option3.innerHTML


				})

			</script>
			

		</div>

		<div id="start_date">START DATE: </div>

			<div class = "pool_fields">
			
				<div>MONTH</div>
				
				<div class="hide"><input name="month" id="start_month"></div>

				<div id="month_cont">

					<div id="month1"></div>
					<div id="month2"></div>
					<div id="month3"></div>
					<div id="month4"></div>
					<div id="month5"></div>
					<div id="month6"></div>
					<div id="month7"></div>
					<div id="month8"></div>
					<div id="month9"></div>
					<div id="month10"></div>
					<div id="month11"></div>
					<div id="month12"></div>

				</div>
				
			</div>

			<script>
				
				var month1 = document.getElementById("month1")
				var month2 = document.getElementById("month2")
				var month3 = document.getElementById("month3")
				var month4 = document.getElementById("month4")
				var month5 = document.getElementById("month5")
				var month6 = document.getElementById("month6")
				var month7 = document.getElementById("month7")
				var month8 = document.getElementById("month8")
				var month9 = document.getElementById("month9")
				var month10 = document.getElementById("month10")
				var month11 = document.getElementById("month11")
				var month12 = document.getElementById("month12")

				month1.innerHTML = "Jan"
				month2.innerHTML = "Feb"
				month3.innerHTML = "Mar"
				month4.innerHTML = "Apr"
				month5.innerHTML = "May"
				month6.innerHTML = "Jun"
				month7.innerHTML = "Jul"
				month8.innerHTML = "Aug"
				month9.innerHTML = "Sep"
				month10.innerHTML = "Oct"
				month11.innerHTML = "Nov"
				month12.innerHTML = "Dec"

				month1.addEventListener("click", function(){

					start_month.value = "Jan"


				})

				month2.addEventListener("click", function(){

					start_month.value = "Feb"

				})

				month3.addEventListener("click", function(){

					start_month.value = "Mar"

				})

				month4.addEventListener("click", function(){

					start_month.value = "Apr"

				})

				month5.addEventListener("click", function(){

					start_month.value = "May"

				})

				month6.addEventListener("click", function(){

					start_month.value = "Jun"

				})

				month7.addEventListener("click", function(){

					start_month.value = "Jul"

				})

				month8.addEventListener("click", function(){

					start_month.value = "Aug"

				})

				month9.addEventListener("click", function(){

					start_month.value = "Sep"

				})

				month10.addEventListener("click", function(){

					start_month.value = "Oct"

				})

				month11.addEventListener("click", function(){

					start_month.value = "Nov"

				})

				month12.addEventListener("click", function(){

					start_month.value = "Dec"

				})


			</script>


			<div class = "pool_fields">

				<div>Day:</div>
				<div class="hide"><input name="day" id="start_day" ></div>

				<div id="day_cont">

					<div id="day1"></div>
					<div id="day2"></div>
					<div id="day3"></div>
					<div id="day4"></div>
					<div id="day5"></div>
					<div id="day6"></div>
					<div id="day7"></div>
					<div id="day8"></div>
					<div id="day9"></div>
					<div id="day10"></div>
					<div id="day11"></div>
					<div id="day12"></div>
					<div id="day13"></div>
					<div id="day14"></div>
					<div id="day15"></div>
					<div id="day16"></div>
					<div id="day17"></div>
					<div id="day18"></div>
					<div id="day19"></div>
					<div id="day20"></div>
					<div id="day21"></div>
					<div id="day22"></div>
					<div id="day23"></div>
					<div id="day24"></div>
					<div id="day25"></div>
					<div id="day26"></div>
					<div id="day27"></div>
					<div id="day28"></div>
					<div id="day29"></div>
					<div id="day30"></div>
					<div id="day31"></div>
					
				</div>

				<script>
					
					var day1 = document.getElementById("day1")
					var day2 = document.getElementById("day2")
					var day3 = document.getElementById("day3")
					var day4 = document.getElementById("day4")
					var day5 = document.getElementById("day5")
					var day6 = document.getElementById("day6")
					var day7 = document.getElementById("day7")
					var day8 = document.getElementById("day8")
					var day9 = document.getElementById("day9")
					var day10 = document.getElementById("day10")
					var day11 = document.getElementById("day11")
					var day12 = document.getElementById("day12")
					var day13 = document.getElementById("day13")
					var day14 = document.getElementById("day14")
					var day15 = document.getElementById("day15")
					var day16 = document.getElementById("day16")
					var day17 = document.getElementById("day17")
					var day18 = document.getElementById("day18")
					var day19 = document.getElementById("day19")
					var day20 = document.getElementById("day20")
					var day21 = document.getElementById("day21")
					var day22 = document.getElementById("day22")
					var day23 = document.getElementById("day23")
					var day24 = document.getElementById("day24")
					var day25 = document.getElementById("day25")
					var day26 = document.getElementById("day26")
					var day27 = document.getElementById("day27")
					var day28 = document.getElementById("day28")
					var day29 = document.getElementById("day29")
					var day30 = document.getElementById("day30")
					var day31 = document.getElementById("day31")

					day1.innerHTML = "1"
					day2.innerHTML = "2"
					day3.innerHTML = "3"
					day4.innerHTML = "4"
					day5.innerHTML = "5"
					day6.innerHTML = "6"
					day7.innerHTML = "7"
					day8.innerHTML = "8"
					day9.innerHTML = "9"
					day10.innerHTML = "10"
					day11.innerHTML = "11"
					day12.innerHTML = "12"
					day13.innerHTML = "13"
					day14.innerHTML = "14"
					day15.innerHTML = "15"
					day16.innerHTML = "16"
					day17.innerHTML = "17"
					day18.innerHTML = "18"
					day19.innerHTML = "19"
					day20.innerHTML = "20"
					day21.innerHTML = "21"
					day22.innerHTML = "22"
					day23.innerHTML = "23"
					day24innerHTML = "24"
					day25.innerHTML = "25"
					day26.innerHTML = "26"
					day27.innerHTML = "27"
					day28.innerHTML = "28"
					day29.innerHTML = "29"
					day30.innerHTML = "30"
					day31.innerHTML = "31"

					day1.addEventListener("click", function(){

						start_day.value = "1"

					})

					day2.addEventListener("click", function(){

						start_day.value = "2"

					})

					day3.addEventListener("click", function(){

						start_day.value = "3"

					})

					day4.addEventListener("click", function(){

						start_day.value = "4"

					})

					day5.addEventListener("click", function(){

						start_day.value = "5"

					})

					day6.addEventListener("click", function(){

						start_day.value = "6"

					})

					day7.addEventListener("click", function(){

						start_day.value = "7"

					})

					day8.addEventListener("click", function(){

						start_day.value = "8"

					})

					day9.addEventListener("click", function(){

						start_day.value = "9"

					})

					day10.addEventListener("click", function(){

						start_day.value = "10"

					})

					day11.addEventListener("click", function(){

						start_day.value = "11"

					})

					day12.addEventListener("click", function(){

						start_day.value = "12"

					})

					day13.addEventListener("click", function(){

						start_day.value = "13"

					})

					day13.addEventListener("click", function(){

						start_day.value = "13"

					})

					day14.addEventListener("click", function(){

						start_day.value = "14"

					})

					day15.addEventListener("click", function(){

						start_day.value = "15"

					})

					day16.addEventListener("click", function(){

						start_day.value = "16"

					})

					day17.addEventListener("click", function(){

						start_day.value = "17"

					})

					day18.addEventListener("click", function(){

						start_day.value = "18"

					})


					day19.addEventListener("click", function(){

						start_day.value = "19"

					})

					day20.addEventListener("click", function(){

						start_day.value = "20"

					})

					day21.addEventListener("click", function(){

						start_day.value = "21"

					})

					day22.addEventListener("click", function(){

						start_day.value = "22"

					})

					day23.addEventListener("click", function(){

						start_day.value = "23"

					})

					day24.addEventListener("click", function(){

						start_day.value = "24"

					})

					day25.addEventListener("click", function(){

						start_day.value = "25"

					})

					day26.addEventListener("click", function(){

						start_day.value = "26"

					})

					day27.addEventListener("click", function(){

						start_day.value = "27"

					})

					day28.addEventListener("click", function(){

						start_day.value = "28"

					})

					day29.addEventListener("click", function(){

						start_day.value = "29"

					})

					day30.addEventListener("click", function(){

						start_day.value = "30"

					})

					day31.addEventListener("click", function(){

						start_day.value = "31"

					})


				</script>
	
				

			</div>

			<div class = "pool_fields">
			
				<label>YEAR:
				<input list="year" name="year" id="start_year" /></label>
			
				<datalist id="year">
			  		
			  		<option value="2018">
			  		<option value="2019">
			  		<option value="2020">
			  		<option value="2021">
			  
				</datalist>




			</div>

		<div class="end_date">PICK THE END DATE</div>

			<div class = "pool_fields">
			
				<label>DAY:
				<input list="day" name="day" id="end_day" /></label>
			
				<datalist id="day">
			  		
			  		<option value="01">
			  		<option value="02">
			  		<option value="03">
			  		<option value="04">
			  		<option value="05">
			  		<option value="06">
			  		<option value="07">
			  		<option value="08">
			  		<option value="09">
			  		<option value="10">
			  		<option value="11">
			  		<option value="12">
			  		<option value="13">
			  		<option value="14">
			  		<option value="15">
			  		<option value="16">
			  		<option value="17">
			  		<option value="18">
			  		<option value="19">
			  		<option value="20">
			  		<option value="21">
			  		<option value="22">
			  		<option value="23">
			  		<option value="24">
			  		<option value="25">
			  		<option value="26">
			  		<option value="27">
			  		<option value="28">
			  		<option value="29">
			  		<option value="30">
			  		<option value="31">
			  
				</datalist>





			</div>

		<div class = "pool_fields">

		<label>MONTH:
		<input list="month" name="month" id="end_month" /></label>
	
		<datalist id="month">
	  		
	  		<option value="Jan">
	  		<option value="Feb">
	  		<option value="Mar">
	  		<option value="Apr">
	  		<option value="May">
	  		<option value="Jun">
	  		<option value="Jul">
	  		<option value="Aug">
	  		<option value="Sep">
	  		<option value="Oct">
	  		<option value="Nov">
	  		<option value="Dec">
	  
		</datalist>

		</div>

		<div class = "pool_fields">
			
			<label>YEAR:
			<input list="year" name="year" id="end_year" /></label>
		
			<datalist id="year">
		  		
		  		<option value="2018">
		  		<option value="2019">
		  		<option value="2020">
		  		<option value="2021">
		  
			</datalist>




		</div>

		<input type="submit" name="" value="Create League" id="sub_btn">

		<div id="pass_index">

			<div id="pass_text">
		
				<p> If you are entering a new league for the first time, enter that League's password in the box below...</p>






			</div>

			<div id="pass_btns">
	
			PASSWORD: <input type="text" name="" id="pass_pool">
			<input type="submit" value="ENTER" id="sub_pass_pool">

			</div>

	</div>
		

		

		



		</div>


	<script>

		

		

		var sub_btn = document.getElementById("sub_btn")

		var pass = document.getElementById("pass")
		
		
		sub_btn.addEventListener("click", function(){


			var endDate = end_day.value + " " + end_month.value + " " + end_year.value

			var startDate = start_day.value + " " + start_month.value + " " + start_year.value

			console.log(startDate)

			var pass_holder = []

			var passW = " "

			var test = false

			<% League.all.each do |l| %>

					passW = "<%= l.pass %>"

					pass_holder.push(passW)

			<% end %>

			for(i=0; i<pass_holder.length; i++){

				if (pass_holder[i] == pass.value){

					test = true
				}
			}


			if (test == true){

				alert("THAT PASSWORD IS TAKEN")
			}else{


				league_league_name.value = league_name.value
				league_pass.value = pass.value
				league_clients.value = client_number.value
				league_end_date.value = endDate
				league_start_date.value = startDate
				
				new_league.submit()

			}


		})




	</script>

	<div class="hide">


		<%= form_for @secret do |p| %>

				<%= p.text_field :pass %>
				<%= p.text_field :kind, :value => "league" %>
				<%= p.text_field :user_id, :value => current_user.id %>
				<%= p.text_field :date, :value => @my_date %>
				<%= p.submit %>

		<% end %>

	</div>



<script>

	var secret = document.getElementById("pass_pool")
	var secSub = document.getElementById("sub_pass_pool")
	
	secSub.addEventListener("click", function(){

		var myDate = "<%= @my_date %>"
		var startDate

		var pass_holder = []

		var passW = " "

		var test = false

		<% League.all.each do |l| %>

			passW = {pass: "<%= l.pass %>", date: "<%= l.start_date %>"}

			pass_holder.push(passW)

		<% end %>

		for(i=0; i<pass_holder.length; i++){

			if (pass_holder[i].pass == secret.value){

				startDate = pass_holder[i].date
			}
		}

		function serial(date){

			var day = date[0] + date[1]
			var month = date[3] + date[4] + date[5]
			var year = date[7] + date[8] + date[9] + date[10]

			if (month == "Jan"){

				month = "01"
			
			}else if (month == "Feb"){

				month = "02"
			
			}else if (month == "Mar"){

				month = "03"
			
			}else if (month == "Apr"){

				month = "04"
			
			}else if (month == "May"){

				month = "05"
			
			}else if (month == "Jun"){

				month = "06"
			
			}else if (month == "Jul"){

				month = "07"
			
			}else if (month == "Aug"){

				month = "08"
			
			}else if (month == "Sep"){

				month = "09"
			
			}else if (month == "Oct"){

				month = "10"
			
			}else if (month == "Nov"){

				month = "11"
			
			}else if (month == "Dec"){

				month = "12"
			}

			var serialNum = year + month + day
			var serialNum = parseInt(serialNum)

			return serialNum         
		}

		if (serial(startDate) >= serial(myDate)){

			secret_pass.value = secret.value

			new_secret.submit()



		}else{

			alert("I'M SORRY BUT THAT LEAGUE HAS STARTED")
		
		}



	})


</script>








</div>
</div>













