
<div class = "hid">
	
	<%= form_for @league do |l| %>
		
		<div>League Name: <%= l.text_field :league_name %></div>
		<div>Password: <%= l.text_field :pass %></div>
		<div># Of Clients: <%= l.text_field :clients %></div>
		<%= l.submit %>
		
	<% end %>

</div>

