

<% @my_date %>
<% @contestants = [] %>
<% @league_players = [] %>
<% @end_date_ser %>
<% @nfl_games %>
<% @fan_games %>
<% @nba_games %>
<% @cfb_games %>
<% @cbb_games %>
<% @mlb_games %>
<% @nhl_games %>
<% @bet_type %>
<% @standings = [] %>
<% @scores = [] %>
<% @sorter = [] %>
<% @sorted_standings = [] %>
<% @off_stand = [] %>
<% @client_holder = [] %>
<% @client_result_holder = [] %>
<% @clients_info = [] %>
<% @start_date_ser %>
<% @start_time %>
<% @edit_w = [] %>
<% @wager_counter = [] %>
<% @id_holder = [] %>
<% @in_league = false %>
<% @book_ready = false %>
<% @grade_ready = true %>
<% @cl_wager_counter = 0 %>
<% @league_status %>
<% @month_chk %>
<% @day_chk %>
<% @year_chk %>

<% @obj_test %>

<div id="league_heading"><%= @league.league_name.upcase %></div>




<% self.get_time %>

<% Team.all.each do |t| %>

	<% if t.date == @my_date %>

		<% @book_ready = true %>

	<% end %>

	<% if t.date != @my_date %>

		<% if t.updated == "f" %>

			<% @grade_ready = false %>

		<% end %>

	<% end %>



<% end %>



<% @month_chk = @league.end_date[3] + @league.end_date[4] + @league.end_date[5] %>
<% @day_chk = @league.end_date[0] + @league.end_date[1] %>

<% @year_chk = @league.end_date[7] + @league.end_date[8] + @league.end_date[9] + @league.end_date[10] %>


<% self.check_end_date %>

<% self.convert_my_date %>

<% self.convert_start_time(@league.start_date) %>
	


<% if @start_time > @my_date %>

	<% @league_status = "early" %>

<% elsif @start_time <= @my_date && @my_date <= @end_date_ser %>

	<% @league_status = "active" %>

<% else %>

	<% @league_status = "complete" %>

<% end %>


<% self.get_league_players %>

<% @league_players.each do |p| %>

	<% if p == current_user %>

		<% @in_league = true %>

	<% end %>


<% end %>

<% if @in_league == true %>

	<% @league.league_clients.each do |c| %>

		<% if c.user_id.to_i == current_user.id.to_i %>

			<% @id_holder.push(c.user_id) %>

		<% end %>

	<% end %>

	<% if @id_holder.length < @league.clients.to_i %>

		<div id= "client_load_message"><%= "LOADING YOUR CLIENT ROSTER..." %></div>

		<div class = "hide">

			<%= render "client" %>

		</div>

		<script>
			
			new_league_client.submit()


		</script>


	<% end %>

	<% if @league_status == "early" %>

		<div id="league_start_date"><%= "YOUR LEAGE STARTS ON" + " " + @league.start_date %></div>

	<% elsif @league_status == "active" %>

		<div id="league_show_cont">
	

			<div id="standings_container">STANDINGS

				<% @league_players.each do |s| %>

					<% @sum = [] %>

					<% @bankroll = 0 %>

					<% s.league_wagers.each do |w| %>

						<% if w.league_id.to_i == @league_id.to_i %>

							<% if w.graded == true %>

								<% if w.net_result.to_i > 0 || w.net_result.to_i < 0 %>

									<% @sum.push(w.net_result.to_i) %>

								<% end %>


							<% end %>


						<% end %>

					<% end %>

					<% @stand_info = Hash.new %>

					<% @stand_info[:name] = s.username %>

					<% @bankroll = (@sum.inject(0){|sum,x| sum + x }) * -1 %>

					<% @stand_info[:bank] = @bankroll %>

					<% @scores.push(@stand_info) %>

				<% end %>


				<% self.get_standings(@scores) %>

				<% @off_stand.each do |st| %>

					<% if st.class == Hash %>

						<% if st[:bank].to_i > 0 %>

							<% st[:bank] = "+" + st[:bank].to_s %>

						<% end %>

						<div class="player_standings"><%= st[:name].to_s + " " + st[:bank].to_s %></div>

					<% end %>



				<% end %>

			</div>

			<div id="roster_cont"><div id="roster_label">MY ROSTER</div>

				<% @league.league_clients.each do |c| %>

					<% if c.user_id.to_i == current_user.id.to_i %>

						<div class="rost_cont">

							<div class="roster_info" id="lg_nm"> <%= c.league_name %></div>
							<div class="roster_info" id="lg_st">Stakes: <%= c.stakes %></div>
							<div class="roster_info" id="lg_bet">Bet Type: <%= c.bet_types %></div>
							<div class="roster_info" id="lg_qu">Bet Quant: <%= c.wager_limit %></div>
							<div class="roster_info" id="lg_sp">Sports: <%= c.sports %></div>


							<div class="roster_links"><%= link_to "CHANGE SETTINGS", edit_league_client_path(c.id) %></div>

						</div>


					<% end %>	

				<% end %>


			</div>

			<div id="league_client_stats">CLIENT / FIGURE

				<% current_user.league_clients.each do |l| %>



					<% if l.league_id.to_i == @league.id.to_i %>

						<% @client_holder.push(l) %>


					<% end %>


				<% end %>

				<% @client_holder.each do |c| %>


					<% self.sum_league_wagers(c) %>


				<% end %>



				<% @clients_info.each do |c| %>

					<% if c.class == Hash %>

						<% if c[:score] > 0 %>

							<% c[:score] = "+" + c[:score].to_s %>


						<% end %>

						<div class="league_client_score"><%= c[:name] + " " + c[:score].to_s %></div>

					<% end %>


				<% end %>

			</div>



		</div>

		<div id="link_holder"><div>GRADE, BOOK, OR VIEW ACTION</div>

			<% self.get_time %>

			<% current_user.league_wagers.each do |w| %>

				<% if w.league_id.to_i == @league.id.to_i %>

					<% if w.graded == false %>

						<% if w.date != @my_date %>

							<% @edit_w.push(w) %>


						<% end %>

					<% end %>

				<% end %>

			<% end %>

			<% if @edit_w.length > 0 && @grade_ready == true %>

				 <div class="links"><%= link_to "GRADE YOUR ACTION", edit_league_wager_path(@edit_w[0]) %>


			<% else %>

				<% current_user.league_wagers.each do |w| %>

					<% if w.league_id.to_i == @league.id.to_i %>

						<% if w.graded == false && w.date == @my_date %>

							<% @wager_counter.push(w) %>


						<% end %>


					<% end %>


				<% end %>

				<% current_user.league_clients.each do |c| %>


					<% if c.league_id.to_i == @league.id.to_i %>

						<% @cl_wager_counter = @cl_wager_counter + c.wager_limit.to_i %>


					<% end %>



				<% end %>

				<% if @wager_counter.length < @cl_wager_counter && @book_ready == true %>

					<% @my_id = @league.league_clients[0].id %>
					<div class="links"><%= link_to "BOOK ACTION", league_client_path(@my_id) %>


					<% if @league.league_wagers[0] %>
					
						<% @wager_id = @league.league_wagers[0] %>

						<div class="links"><%= link_to "VIEW LEAGUE ACTION", league_wager_path(@wager_id) %></div>

					<% end %>

				<% else %>

					<% if @league.league_wagers[0] %>

						<% @wager_id = @league.league_wagers[0] %>

						<div class="links"><%= link_to "VIEW LEAGUE ACTION", league_wager_path(@wager_id) %></div>

					<% end %>


				<% end %>




			<% end %>


		</div>

	</div>


	<% elsif @league_status == "complete" %>


	<% end %>
		

<% else %>

	<div class = "league_message">

		YOU ARE NOT IN THIS LEAGUE.


	</div>

<% end %>

<%= @edit_w.length %>
<%= @grade_ready %>


















	





	









	
	










