<% @my_date %>
<% @end_date_ser %>
<% @nfl_games %>
<% @fan_games %>
<% @nba_games %>
<% @cfb_games %>
<% @cbb_games %>
<% @mlb_games %>
<% @nhl_games %>
<% @bet_type %>

<% self.get_time %>

<% @month_chk %>

<% @month_chk = @league.end_date[3] + @league.end_date[4] + @league.end_date[5] %>
<% @day_chk = @league.end_date[0] + @league.end_date[1] %>

<% @year_chk = @league.end_date[7] + @league.end_date[8] + @league.end_date[9] + @league.end_date[10] %>]


<% self.check_end_date %>

END: <%=@end_date_ser %>

<% self.convert_my_date %>
CHECK: <%= @my_date %>

<% if @end_date_ser >= @my_date %>


	<% @id_holder = [] %>


	<% @league.league_clients.each do |c| %>

		<% if c.user_id.to_i == current_user.id.to_i %>

			<% @id_holder.push(c.user_id) %>

		<% end %>

	<% end %>


	<% if @id_holder.length < @league.clients.to_i %>

		<div><%= "LOADING CLIENTS..." %></div>

		<div class = "hide">

			<%= render "client" %>

		</div>

		<script>
			
			new_league_client.submit()


		</script>


	<% end %>


	





	<div>SET YOUR LINEUP:</div>

	<div id="roster_cont">
		
		<% @league.league_clients.each do |c| %>

			<% if c.user_id.to_i == current_user.id.to_i %>

				<div class="rost_cont">

					<div class="roster_info", id="lg_nm"> <%= c.league_name %></div>
					<div class="roster_info">Stakes: <%= c.stakes %></div>
					<div class="roster_info">Bet Type: <%= c.bet_types %></div>
					<div class="roster_info">Bet Quant: <%= c.wager_limit %></div>
					<div class="roster_info">Sports: <%= c.sports %></div>


					<div class="roster_links"><%= link_to "CHANGE SETTINGS", edit_league_client_path(c.id) %></div>

				</div>


			<% end %>	

		<% end %>

	</div>

	<% @my_id %>

	<% if @league.league_clients[0] %>

		<% @my_id = @league.league_clients[0].id %>
		<%= link_to "BOOK ACTION", league_client_path(@my_id) %>

	<% end %>

	<% @my_date %>
	<% self.get_time %>

	

	<% if @league.league_wagers[0] %>
		
		<% @wager_id = @league.league_wagers[0] %>

		<%= link_to "VIEW LEAGUE ACTION", league_wager_path(@wager_id) %>

		<% @edit_w = [] %>

		<% current_user.league_wagers.each do |w| %>

			<% if w.graded == false && w.date != @my_date && w.league_id.to_i == @league.id.to_i  %>

				<% @edit_w.push(w.id) %>

			<% end %>


		<% end %>

		<% if @edit_w.length > 0 %>

			<%= link_to "GRADE YOUR ACTION", edit_league_wager_path(@edit_w[0]) %>

		<% end %>

	<% end %>

<% @users.each do |u| %>

<% @entrance = false %>

	<% u.league_wagers.each do |w| %>

		<% if w.league_id.to_i == @league.id.to_i %>

			<% @entrance = true %>


		<% end %>

	<% end %>

	<% if @entrance == true %>

		<div><%= u.sports_book_name %></div>


	<% end %>

<% end %>

<% current_user.league_wagers.each do |w| %>

	<% if w.graded == true && w.league_id.to_i == @league.id.to_i %>

		<div><%= w.wager_type %></div>
		
		<div><%= w.amount %></div>

		<div><%= w.net_result %></div>

		<div><%= w.outcome %></div>
		
		<div><%= w.team1 %></div>
		
		<div><%= w.team2 %></div>
		
		<div><%= w.team3 %></div>




	<% end %>



<% end %>



	<div id="standings">


		STANDINGS
		







	</div>



<% else %>

	<div>FINAL STANDINGS</div>




<% end %>










	
	










