<% @my_date %>
<% @end_date_ser %>
<% @nfl_games %>
<% @fan_games %>
<% @nba_games %>
<% @cfb_games %>
<% @cbb_games %>
<% @mlb_games %>
<% @nhl_games %>
<% @bet_type %>

<% self.get_time %>

<% @month_chk %>

<% @month_chk = @league.end_date[3] + @league.end_date[4] + @league.end_date[5] %>
<% @day_chk = @league.end_date[0] + @league.end_date[1] %>

<% @year_chk = @league.end_date[7] + @league.end_date[8] + @league.end_date[9] + @league.end_date[10] %>]


<% self.check_end_date %>

END: <%=@end_date_ser %>

<% self.convert_my_date %>
CHECK: <%= @my_date %>

<% if @end_date_ser >= @my_date %>


	<% @id_holder = [] %>


	<% @league.league_clients.each do |c| %>

		<% if c.user_id.to_i == current_user.id.to_i %>

			<% @id_holder.push(c.user_id) %>

		<% end %>

	<% end %>


	<% if @id_holder.length < @league.clients.to_i %>

		<div><%= "LOADING CLIENTS..." %></div>

		<div class = "hide">

			<%= render "client" %>

		</div>

		<script>
			
			new_league_client.submit()


		</script>


	<% end %>


	





	<div>SET YOUR LINEUP:</div>

	<div id="roster_cont">
		
		<% @league.league_clients.each do |c| %>

			<% if c.user_id.to_i == current_user.id.to_i %>

				<div class="rost_cont">

					<div class="roster_info", id="lg_nm"> <%= c.league_name %></div>
					<div class="roster_info">Stakes: <%= c.stakes %></div>
					<div class="roster_info">Bet Type: <%= c.bet_types %></div>
					<div class="roster_info">Bet Quant: <%= c.wager_limit %></div>
					<div class="roster_info">Sports: <%= c.sports %></div>


					<div class="roster_links"><%= link_to "CHANGE SETTINGS", edit_league_client_path(c.id) %></div>

				</div>


			<% end %>	

		<% end %>

	</div>

	<div id="standings">


		STANDINGS
		







	</div>

<% else %>

	<div>FINAL STANDINGS</div>




<% end %>





	
	










