<% @id_holder = [] %>


<% @league.league_clients.each do |c| %>

	<% if c.user_id.to_i == current_user.id.to_i %>

		<% @id_holder.push(c.user_id) %>

	<% end %>

<% end %>

<%= @id_holder.length %>

<% if @id_holder.length < @league.clients.to_i %>

	<div><%= "LOADING CLIENTS..." %></div>

	<div class = "hide">

		<%= render "client" %>

	</div>

	<script>
		
		new_league_client.submit()


	</script>


<% end %>


<div><%= @league.league_name %></div>


COUNT: <%= @league.league_clients.count %>





<div>SET YOUR LINEUP:</div>
	
<% @league.league_clients.each do |c| %>

	<% if c.user_id.to_i == current_user.id.to_i %>

		<div><%= link_to c.league_name, edit_league_client_path(c.id) %></div>


	<% end %>

	

<% end %>

	
	










