<% @wager_id = @wager.id %>
<% @league_id = @wager.league_id %>

<% @my_date %>
<% self.get_time %>

<% @cl_id = @wager.league_client_id %>

<% @ungraded_wagers = [] %>


<% current_user.league_wagers.each do |w| %>

	<% if w.graded == false && w.date != @my_date && w.league_id.to_i == @league_id.to_i  %>

		<% @ungraded_wagers.push(w.id) %>
			
	<% end %>

<% end %>


<% @client_name %>
<% @ml_counter %>
<% @get_val = 0 %>
<% @client_ser = [] %>
<% @client_results = [] %>
<% @user_results = [] %>
<% @current_br  %>


<% @winners %>
<% @losers %>
<% @parlay_one %>
<% @parlay_two %>
<% @parlay_three %>
<% @parlay_four %>
<% @parlay_five %>
<% @rev_team1 %>
<% @rev_team2 %>
<% @rev_team3 %>
<% @user_b = [] %>
<% @user_b2 = [] %>
<% @client_br = [] %>
<% @current_br %>
<% @current_client_br %>
<% @net_p_l %>
<% @wager_hash_one %>
<% @wager_hash_two %>
<% @rev_win %>
<% @rev_lose %>
<% @rev_push %>



<% if @wager.wager_type == "straight" %>

	<% self.score_straights %>

	<div><%= @wager.wager_type %></div>

	<div><%= "NET RESULT: " + @net_p_l.to_s %>

<% elsif @wager.wager_type == "two team teaser" %>

	<% self.two_team_teasers %>

	<div><%= @wager.wager_type %></div>

	<div><%= "NET RESULT: " + @net_p_l.to_s %>

<% elsif @wager.wager_type == "three team teaser" %>

	<% self.three_team_teasers %>

	<div><%= @wager.wager_type %></div>

	<div><%= "NET RESULT: " + @net_p_l.to_s %>

<% elsif @wager.wager_type == "five team teaser" %>

	<% self.five_team_teasers %>

	<div><%= @wager.wager_type %></div>

	<div><%= "NET RESULT: " + @net_p_l.to_s %>

<% elsif @wager.wager_type == "two team parlay" %>

	<% self.two_team_parlays %>

	<div><%= @wager.wager_type %></div>

	<div><%= "NET RESULT: " + @net_p_l.to_s %>

<% elsif @wager.wager_type == "three team parlay" %>

	<% self.three_team_parlays %>

	<div><%= @wager.wager_type %></div>

	<div><%= "NET RESULT: " + @net_p_l.to_s %>

<% elsif @wager.wager_type == "five team parlay" %>

	<% self.five_team_parlays %>

	<div><%= @wager.wager_type %></div>

	<div><%= "NET RESULT: " + @net_p_l.to_s %>

<% elsif @wager.wager_type == "two team reverse" %>

	<% self.two_team_reverses %>

	<div><%= @wager.wager_type %></div>

	<div><%= "NET RESULT: " + @net_p_l.to_s %>

<% elsif @wager.wager_type == "three team reverse" %>

	<% self.three_team_reverses %>

		HERE: <%= @rev_win %>
		<%= @rev_lose %>

	<div><%= @wager.wager_type %></div>

	<div><%= "NET RESULT: " + @net_p_l.to_s %>

<% elsif @wager.wager_type == "four team reverse" %>

	<% self.four_team_reverses %>

	<div><%= @wager.wager_type %></div>

	<div><%= "NET RESULT: " + @net_p_l.to_s %>

<% end %>

<div class = "hide">

	<%= form_for @wager do |w| %>

		<%= w.text_field :user_id %>
		<%= w.text_field :league_client_id %>
		<%= w.text_field :league_id %>
		<div>Type:<div><%= w.text_field :wager_type %></div>
		Amount:<div><%= w.text_field :amount %></div>
		Team1:<div><%= w.text_field :team1 %></div>
		Team2:<div><%= w.text_field :team2 %></div>
		Team3:<div><%= w.text_field :team3 %></div>
		Team4:<div><%= w.text_field :team4 %></div>
		Team5:<div><%= w.text_field :team5 %></div>
		Spread1:<div><%= w.text_field :spread1 %></div>
		Spread2:<div><%= w.text_field :spread2 %></div>
		Spread3:<div><%= w.text_field :spread3 %></div>
		Spread4:<div><%= w.text_field :spread4 %></div>
		Spread5:<div><%= w.text_field :spread5 %></div>
		Date:<div><%= w.text_field :date %></div>
		<div><%= w.hidden_field :net_result, :value => @net_p_l %></div>
		
		<div><%= w.hidden_field :outcome, :value => @wager.outcome %></div>
		<div><%= w.hidden_field :graded, :value => true %></div>
		<div><%= w.submit %></div>


	<% end %>

</div>

<script>


	var ungradedWagers = <%= @ungraded_wagers %>

	

	var cssID = "edit_league_wager_" + ungradedWagers[0]

	console.log(cssID)

	var scoreWager = document.getElementById(cssID)

	if(ungradedWagers.length > 0){

		scoreWager.submit()
	}
	




</script>

<script src="/assets/grade_wager.js"></script>