<% @my_date %>
<% self.get_time %>



<% @league %>

<% @league_id = @wager.league_id %>
<% @player_ids = [] %>
<% @spread1 %>
<% @spread2 %>
<% @spread3 %>
<% @spread4 %>
<% @spread5 %>
<% @my_bool  %>
<% @team2 %>
<% @team3 %>
<% @team4 %>
<% @team5 %>



<% @small_timers = [] %>
<% @pay_dumpers = [] %>
<% @whales = [] %>
<% @league_players = [] %>
<% @player = false %>

<% @league_id = @wager.league_id %>

<% League.all.each do |l| %>

	<% if l.id == @league_id.to_i %>

		<% @league = l %>

	<% end %>



<% end %>

<% Secret.all.each do |s| %>

	<% if s.pass == @league.pass %>

		<% @player_ids.push(s.user_id) %>


	<% end %>

<% end %>

<% @player_ids.each do |p| %>

	<% User.all.each do |u| %>

		<% if u.id === p.to_i %>

			<% @league_players.push(u) %>

		<% end %>


	<% end %>


<% end %>


<div id="page_heading">OPEN LEAGUE ACTION</div>



<% @league_players.each do |p| %>

	<% @small_timers = [] %>
	<% @pay_dumpers = [] %>
	<% @whales = [] %>

	<% p.league_clients.each do |c| %>

		<% if c.league_id.to_i == @league_id.to_i %>

			<% if c.stakes == "small timer" %>

				<% @small_timers.push(c) %>

			<% elsif c.stakes == "pay dumper" %>

				<% @pay_dumpers.push(c) %>
			
			<% elsif c.stakes == "whale" %>

				<% @whales.push(c) %>

			<% end %>

		<% end %>		

	<% end %>

	<div id="league_action_heading">PLAYER: <%= p.username.upcase %></div>


<div id="master_cont">
	
	<div id="small_timers_cont" class="action_cont">

	<div class="name_label">SMALL TIMERS</div>

	<br>

	<% @small_timers.each do |s| %>

		<div class="cl_league_name"><%= s.league_name %></div>

		<% s.league_wagers.each do |w| %>

			<% if w.date == @my_date %>

				<% if w.team1.length >= 11 %>

					<% @spread1 = w.spread1 %>

				<% else %>

					<% if w.spread1.to_i > 0 %>

						<% @spread1 = "+" + w.spread1.to_s %>

					<% else %>

						<% @spread1 = w.spread1 %>

					<% end %>

				<% end %>

				<% if w.team2.length >= 11 %>

					<% @spread2 = w.spread2 %>

				<% else %>

					<% if w.spread2.to_i > 0 %>

						<% @spread2 = "+" + w.spread2.to_s %>

					<% else %>

						<% @spread2 = w.spread2 %>

					<% end %>

				<% end %>

				<% if w.team3.length >= 11 %>

					<% @spread3 = w.spread3 %>

				<% else %>

					<% if w.spread3.to_i > 0 %>

						<% @spread3 = "+" + w.spread3.to_s %>

					<% else %>

						<% @spread3 = w.spread3 %>

					<% end %>

				<% end %>

				<% if w.team4.length >= 11 %>

					<% @spread4 = w.spread4 %>

				<% else %>

					<% if w.spread4.to_i > 0 %>

						<% @spread4 = "+" + w.spread4.to_s %>

					<% else %>

						<% @spread4 = w.spread4 %>

					<% end %>

				<% end %>

				<% if w.team5.length >= 11 %>

					<% @spread5 = w.spread5 %>

				<% else %>

					<% if w.spread5.to_i > 0 %>

						<% @spread5 = "+" + w.spread5.to_s %>

					<% else %>

						<% @spread5 = w.spread5 %>

					<% end %>

				<% end %>

				<% if w.spread1.to_i == 0 %>

					<% @spread1 = "PK" %>

				<% end %>

				<% if w.spread2.to_i == 0 %>

					<% @spread2 = "PK" %>

				<% end %>

				<% if w.spread3.to_i == 0 %>

					<% @spread3 = "PK" %>

				<% end %>

				<% if w.spread4.to_i == 0 %>

					<% @spread4 = "PK" %>

				<% end %>

				<% if w.spread5.to_i == 0 %>

					<% @spread5 = "PK" %>

				<% end %>

				<% if w.wager_type == "straight" %>

					<% @team2 = " " %>
					<% @spread2 = " " %>

					<% @team3 = " " %>
					<% @spread3 = " " %>

					<% @team4 = " " %>
					<% @spread4 = " " %>

					<% @team5 = " " %>
					<% @spread5 = " " %>

					
					

				<% elsif w.wager_type == "two team teaser" || w.wager_type == "two team parlay" || w.wager_type == "two team reverse" %>

					<% @team3 = " " %>
					<% @spread3 = " " %>

					<% @team4 = " " %>
					<% @spread4 = " " %>

					<% @team5 = " " %>
					<% @spread5 = " " %>


				
				<% elsif w.wager_type == "three team teaser" || w.wager_type == "three team parlay" || w.wager_type == "three team reverse" %>

					<% @team4 = " " %>
					<% @spread4 = " " %>

					<% @team5 = " " %>
					<% @spread5 = " " %>

				<% elsif w.wager_type == "four team reverse" %>

					<% @team5 = " " %>
					<% @spread5 = " " %>

				<% end %>



				<div class = "bet_des"><%= "$" + w.amount.to_s + " " + w.wager_type %></div>


				<% if w.wager_type == "straight" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>

					</div>

					<br>
					

				<% elsif w.wager_type == "two team teaser" || w.wager_type == "two team parlay" || w.wager_type == "two team reverse" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>
						<div><%= w.team2.to_s + " " + @spread2.to_s %></div>

					</div>

					<br>
					

				<% elsif w.wager_type == "three team teaser" || w.wager_type == "three team parlay" || w.wager_type == "three team reverse" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>
						<div><%= w.team2.to_s + " " + @spread2.to_s %></div>
						<div><%= w.team3.to_s + " " + @spread3.to_s  %></div>
					</div>

					<br>
					

				<% elsif w.wager_type == "four team reverse" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>
						<div><%= w.team2.to_s + " " + @spread2.to_s %></div>
						<div><%= w.team3.to_s + " " + @spread3.to_s %></div>
						<div><%= w.team4.to_s + " " + @spread4.to_s %></div>

					</div>

					<br>
					

				<% elsif w.wager_type == "five team teaser" || w.wager_type == "five team parlay" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>
						<div><%= w.team2.to_s + " " + @spread2.to_s %></div>
						<div><%= w.team3.to_s + " " + @spread3.to_s %></div>
						<div><%= w.team4.to_s + " " + @spread4.to_s %></div>
						<div><%= w.team5.to_s + " " + @spread5.to_s %></div>

					</div>



					<br>

				<% end %>

			<% end %>

		<% end %>

	<% end %>

	</div>

	

	<div id="pay_dump_cont" class="action_cont">

		<div class="name_label">PAY DUMPERS</div>
		<br>

		<% @pay_dumpers.each do |s| %>

			<div class="cl_league_name"><%= s.league_name %></div>

			<% s.league_wagers.each do |w| %>

				<% if w.date == @my_date %>

					<% if w.team1.length >= 11 %>

						<% @spread1 = w.spread1 %>

					<% else %>

						<% if w.spread1.to_i > 0 %>

							<% @spread1 = "+" + w.spread1.to_s %>

						<% else %>

							<% @spread1 = w.spread1 %>

						<% end %>

					<% end %>

					<% if w.team2.length >= 11 %>

						<% @spread2 = w.spread2 %>

					<% else %>

						<% if w.spread2.to_i > 0 %>

							<% @spread2 = "+" + w.spread2.to_s %>

						<% else %>

							<% @spread2 = w.spread2 %>

						<% end %>

					<% end %>

					<% if w.team3.length >= 11 %>

						<% @spread3 = w.spread3 %>

					<% else %>

						<% if w.spread3.to_i > 0 %>

							<% @spread3 = "+" + w.spread3.to_s %>

						<% else %>

							<% @spread3 = w.spread3 %>

						<% end %>

					<% end %>

					<% if w.team4.length >= 11 %>

						<% @spread4 = w.spread4 %>

					<% else %>

						<% if w.spread4.to_i > 0 %>

							<% @spread4 = "+" + w.spread4.to_s %>

						<% else %>

							<% @spread4 = w.spread4 %>

						<% end %>

					<% end %>

					<% if w.team5.length >= 11 %>

						<% @spread5 = w.spread5 %>

					<% else %>

						<% if w.spread5.to_i > 0 %>

							<% @spread5 = "+" + w.spread5.to_s %>

						<% else %>

							<% @spread5 = w.spread5 %>

						<% end %>

					<% end %>

					<% if w.spread1.to_i == 0 %>

						<% @spread1 = "PK" %>

					<% end %>

					<% if w.spread2.to_i == 0 %>

						<% @spread2 = "PK" %>

					<% end %>

					<% if w.spread3.to_i == 0 %>

						<% @spread3 = "PK" %>

					<% end %>

					<% if w.spread4.to_i == 0 %>

						<% @spread4 = "PK" %>

					<% end %>

					<% if w.spread5.to_i == 0 %>

						<% @spread5 = "PK" %>

					<% end %>

					<% if w.wager_type == "straight" %>

						<% @team2 = " " %>
						<% @spread2 = " " %>

						<% @team3 = " " %>
						<% @spread3 = " " %>

						<% @team4 = " " %>
						<% @spread4 = " " %>

						<% @team5 = " " %>
						<% @spread5 = " " %>
						

					<% elsif w.wager_type == "two team teaser" || w.wager_type == "two team parlay" || w.wager_type == "two team reverse" %>

						<% @team3 = " " %>
						<% @spread3 = " " %>

						<% @team4 = " " %>
						<% @spread4 = " " %>

						<% @team5 = " " %>
						<% @spread5 = " " %>
					
					<% elsif w.wager_type == "three team teaser" || w.wager_type == "three team parlay" || w.wager_type == "three team reverse" %>

						<% @team4 = " " %>
						<% @spread4 = " " %>

						<% @team5 = " " %>
						<% @spread5 = " " %>

					<% elsif w.wager_type == "four team reverse" %>

						<% @team5 = " " %>
						<% @spread5 = " " %>

					<% end %>



					<div class = "bet_des"><%= "$" + w.amount.to_s + " " + w.wager_type %></div>


				<% if w.wager_type == "straight" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>

					</div>

					<br>
					

				<% elsif w.wager_type == "two team teaser" || w.wager_type == "two team parlay" || w.wager_type == "two team reverse" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>
						<div><%= w.team2.to_s + " " + @spread2.to_s %></div>

					</div>

					<br>
					

				<% elsif w.wager_type == "three team teaser" || w.wager_type == "three team parlay" || w.wager_type == "three team reverse" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>
						<div><%= w.team2.to_s + " " + @spread2.to_s %></div>
						<div><%= w.team3.to_s + " " + @spread3.to_s  %></div>
					</div>

					<br>
					

				<% elsif w.wager_type == "four team reverse" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>
						<div><%= w.team2.to_s + " " + @spread2.to_s %></div>
						<div><%= w.team3.to_s + " " + @spread3.to_s %></div>
						<div><%= w.team4.to_s + " " + @spread4.to_s %></div>

					</div>

					<br>
					

				<% elsif w.wager_type == "five team teaser" || w.wager_type == "five team parlay" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>
						<div><%= w.team2.to_s + " " + @spread2.to_s %></div>
						<div><%= w.team3.to_s + " " + @spread3.to_s %></div>
						<div><%= w.team4.to_s + " " + @spread4.to_s %></div>
						<div><%= w.team5.to_s + " " + @spread5.to_s %></div>

					</div>



					<br>

				<% end %>

				<% end %>

			<% end %>

		<% end %>

		</div>

		<div id="whales_cont" class="action_cont">

			<div class="name_label">WHALES</div>
			<br>

		<% @whales.each do |s| %>

			<div class="cl_league_name"><%= s.league_name %></div>

			<% s.league_wagers.each do |w| %>

				<% if w.date == @my_date %>

					<% if w.team1.length >= 11 %>

						<% @spread1 = w.spread1 %>

					<% else %>

						<% if w.spread1.to_i > 0 %>

							<% @spread1 = "+" + w.spread1.to_s %>

						<% else %>

							<% @spread1 = w.spread1 %>

						<% end %>

					<% end %>

					<% if w.team2.length >= 11 %>

						<% @spread2 = w.spread2 %>

					<% else %>

						<% if w.spread2.to_i > 0 %>

							<% @spread2 = "+" + w.spread2.to_s %>

						<% else %>

							<% @spread2 = w.spread2 %>

						<% end %>

					<% end %>

					<% if w.team3.length >= 11 %>

						<% @spread3 = w.spread3 %>

					<% else %>

						<% if w.spread3.to_i > 0 %>

							<% @spread3 = "+" + w.spread3.to_s %>

						<% else %>

							<% @spread3 = w.spread3 %>

						<% end %>

					<% end %>

					<% if w.team4.length >= 11 %>

						<% @spread4 = w.spread4 %>

					<% else %>

						<% if w.spread4.to_i > 0 %>

							<% @spread4 = "+" + w.spread4.to_s %>

						<% else %>

							<% @spread4 = w.spread4 %>

						<% end %>

					<% end %>

					<% if w.team5.length >= 11 %>

						<% @spread5 = w.spread5 %>

					<% else %>

						<% if w.spread5.to_i > 0 %>

							<% @spread5 = "+" + w.spread5.to_s %>

						<% else %>

							<% @spread5 = w.spread5 %>

						<% end %>

					<% end %>

					<% if w.spread1.to_i == 0 %>

						<% @spread1 = "PK" %>

					<% end %>

					<% if w.spread2.to_i == 0 %>

						<% @spread2 = "PK" %>

					<% end %>

					<% if w.spread3.to_i == 0 %>

						<% @spread3 = "PK" %>

					<% end %>

					<% if w.spread4.to_i == 0 %>

						<% @spread4 = "PK" %>

					<% end %>

					<% if w.spread5.to_i == 0 %>

						<% @spread5 = "PK" %>

					<% end %>

					<% if w.wager_type == "straight" %>

						<% @team2 = " " %>
						<% @spread2 = " " %>

						<% @team3 = " " %>
						<% @spread3 = " " %>

						<% @team4 = " " %>
						<% @spread4 = " " %>

						<% @team5 = " " %>
						<% @spread5 = " " %>
						

					<% elsif w.wager_type == "two team teaser" || w.wager_type == "two team parlay" || w.wager_type == "two team reverse" %>

						<% @team3 = " " %>
						<% @spread3 = " " %>

						<% @team4 = " " %>
						<% @spread4 = " " %>

						<% @team5 = " " %>
						<% @spread5 = " " %>
					
					<% elsif w.wager_type == "three team teaser" || w.wager_type == "three team parlay" || w.wager_type == "three team reverse" %>

						<% @team4 = " " %>
						<% @spread4 = " " %>

						<% @team5 = " " %>
						<% @spread5 = " " %>

					<% elsif w.wager_type == "four team reverse" %>

						<% @team5 = " " %>
						<% @spread5 = " " %>

					<% end %>



					<div class = "bet_des"><%= "$" + w.amount.to_s + " " + w.wager_type %></div>


				<% if w.wager_type == "straight" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>

					</div>

					<br>
					

				<% elsif w.wager_type == "two team teaser" || w.wager_type == "two team parlay" || w.wager_type == "two team reverse" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>
						<div><%= w.team2.to_s + " " + @spread2.to_s %></div>

					</div>

					<br>
					

				<% elsif w.wager_type == "three team teaser" || w.wager_type == "three team parlay" || w.wager_type == "three team reverse" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>
						<div><%= w.team2.to_s + " " + @spread2.to_s %></div>
						<div><%= w.team3.to_s + " " + @spread3.to_s  %></div>
					</div>

					<br>
					

				<% elsif w.wager_type == "four team reverse" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>
						<div><%= w.team2.to_s + " " + @spread2.to_s %></div>
						<div><%= w.team3.to_s + " " + @spread3.to_s %></div>
						<div><%= w.team4.to_s + " " + @spread4.to_s %></div>

					</div>

					<br>
					

				<% elsif w.wager_type == "five team teaser" || w.wager_type == "five team parlay" %>

					<div class="act_wrapper">

						<div><%= w.team1.to_s + " " + @spread1.to_s %></div>
						<div><%= w.team2.to_s + " " + @spread2.to_s %></div>
						<div><%= w.team3.to_s + " " + @spread3.to_s %></div>
						<div><%= w.team4.to_s + " " + @spread4.to_s %></div>
						<div><%= w.team5.to_s + " " + @spread5.to_s %></div>

					</div>



					<br>

				<% end %>

				<% end %>

			<% end %>

		<% end %>

		</div>
	</div>

<% end %>




		

			





