
<div id="pageLabel">FISH FOR CLIENTS</div>

<div id="label">WORD BANK</div>
<div id="wordBank">
	
	<div id="word_one" class="word_cont"></div>
	<div id="word_two" class="word_cont"></div>
	<div id="word_three" class="word_cont"></div>
	<div id="word_four" class="word_cont"></div>
	<div id="word_five" class="word_cont"></div>
	<div id="word_six" class="word_cont"></div>
	<div id="word_seven" class="word_cont"></div>
	<div id="word_eight" class="word_cont"></div>
	<div id="word_nine" class="word_cont"></div>
	<div id="word_ten" class="word_cont"></div>




</div>



Your Client Count: <%= current_user.clients.count %>




<% @names = ["Bill", "Steve", "Mike", "Paul", "John", "Pete", "Dave", "Vinny", "Bobby", "Tony", "Jack", "Hector", "Greg", "Brian", "Ralph", "Chris", "Sandy", "Zip", "Ty", "Andy", "Andre", "Jesus", "Luke", "Scotty", "Odell", "Lamar", "Lance", "Lincoln", "Guido", "Azhull", "Enis", "Ray", "Rob", "Randolph", "Rhys", "Carlos", "Wilson", "Caeser", "Mikel", "Jacob", "Max", "Charles", "Larry", "Al", "Martin", "Marty", "Mickey", "Brad", "Bradley", "Christian", "Jeremy", "Allan", "Ewan", "Ian", "James", "Doug", "Ronny", "Harold", "Leon", "Alberto", "Albert", "Aaron", "Abdul", "Abe", "Abram", "Angelo", "Guido", "Gabe", "Antoine", "Twan", "Armand", "Arnold", "Ernie", "Augustine", "Avery", "Barry", "Bart", "Beau", "Benedict", "Thomas", "Tommy", "Burt", "Blair", "Bo", "Branden", "Bret", "Brock", "Brooks", "Bruce", "Bucks", "Buford", "Buster", "Cameron", "Calvin", "Kelvin", "Carl", "Carter", "Cecil", "Cedrick", "Chad", "Chet", "Chang", "Chase", "Chauncey", "Chuck", "Claude", "Clay", "Cletus", "Cliff", "Clinton", "Collin", "Conrad", "Craig", "Curt", "Damon", "Damien", "Dante", "Duante", "Dane", "Dario", "Darius", "Darren", "Darryl", "Davis", "Dean", "Dennis", "Deon", "Derrick", "Dewey", "Elvin", "Elroy", "Victor", "Nicky"] %>
<% @fname = @names.sample %>
<% @surname = ["Miller", "Johnson", "Curtis", "Smith", "Dunn", "Pitt", "Franklin", "Gucci", "O'Mally", "Jones", "Howard", "Cabrerra", "Ortiz", "Stein", "Gold", "Capone", "Anastasia", "Gotti", "Gabbagool", "Baloney", "Sfincter", "Azstein", "Wojohowski", "McMally", "O'Alchy", "Simmons", "Rollins", "Nafir", "Cezanne", "Pino", "Yurmum", "Iritini", "Fox", "Jenkins", "Washington", "Jefferson", "Adams", "Brady", "Rogers", "Smitstane", "Jerko", "Balls", "Hateme", "Killmooney", "Moon", "DeStefano", "Condina", "Lombardo", "Birthman", "Tooman", "Hong", "Sung", "Long", "Chow", "Chin", "Parx", "Xavier", "Sydney", "Dipo", "Embiid", "Al-Qomo", "Nasim", "Nasser", "McDonald", "McConnel", "McMick", "Blue", "Red", "Filamino", "Black", "White", "Madison", "Monroe", "Jackson", "Van Buren", "Van", "Van Willi", "Harrison", "Tyler", "Polk","Taylor", "Pierce", "Brown", "Buchanan", "Cleveland", "Kennedy", "Baines", "Songdove", "Bookman", "Bagman", "Bergman", "Watts", "Webb", "Lawrence", "Lajane", "Lafontaine", "Lamouf", "Bailey", "Cox", "Richardson", "Cumacosa", "Watkowski", "O'Hara", "Friedman", "Wisenstein", "Losserstein", "Krook", "Lipschitz", "Shitzimself", "Prick", "Gavone", "Malone", "Costello", "Cavericci", "Felder", "DeVito", "Tavolini", "Zabotowski", "Sabo", "Rose", "Carlton", "Trump", "Frump", "Hump", "Dumpmi", "Rizzoroni", "Rizzo", "Goode", "Goodhead", "Kilcar", "Kramer", "Leslie", "Fisher", "Edwards", "Aserfomo", "Freek", "Hotspot", "Pillman", "Unimat", "Ronkowski", "Ryan", "Burton", "Gray", "Chapman", "Shaw", "Khan", "Walsh", "Hunter", "Butler", "Saunders", "Carr", "Dixon", "Boothe", "Lollerpop", "Poopski", "Zilcheroni", "Xavier", "Ratz", "Ritz", "Rutz", "Omberson", "Jekyl", "Hyde", "Nunn", "Nazzer", "Nimbs", "Nonno", "Nedder", "Tree", "Apple", "Palmer", "Nicholas", "Stone", "Andrews", "Pool", "Atkinson"] %>


<% @lname = @surname.sample %>
<% @money = ["small timer", "small timer", "small timer", "pay dumper", "whale", "pay dumper"] %>
<% @stakes = @money.sample %>
<script>
	
	var bettorType = "<%= @stakes %>"

</script>

<% @bets = ["Exotics", "Straight", "All"] %>
<% @bet_types = @bets.sample %>

<% @num_of_wagers = [1, 2, 3, 4, 5] %>

<% @limit = @num_of_wagers.sample %>

<% @sport_choices = "NFL", "NBA", "MLB and NHL", "NFL", "NFL and NBA", "NHL", "MLB", "NFL and MLB", "CBB", "CFB", "NFL and CFB", "CBB and NBA", "NFL", "NFL and CFB", "MLB and NFL", "NFL and NBA", "NFL", "NFL", "NFL" %>

<% @sports = @sport_choices.sample %>


<% @bet_options = [[25, 50], [100, 150, 200], [300, 500, 1000]] %>

<% if @stakes == "small timer" %>

	<% @bet_amounts = @bet_options.first %>

<% elsif @stakes == "pay dumper" %>

	<% @bet_amounts = @bet_options.second %>

<% elsif @stakes == "whale" %>

	<% @bet_amounts = @bet_options.last %>

<% end %>





<div class = "hide">
<%= form_for @client do |c| %>
	<%= c.hidden_field :user_id, :value => current_user.id %>
	<div> <%=c.text_field :first_name, :value => @fname %></div>
	<div> <%=c.text_field :last_name, :value => @lname %></div>
	<div> <%=c.text_field :stakes, :value => @stakes %></div>
	<div> <%=c.text_field :wager_limit, :value => @limit %></div>
	<div> <%=c.text_field :bet_types, :value => @bet_types %></div>
	<div> <%=c.text_field :sports, :value => @sports %></div>

	<% end %>

</div>

<% if @stakes == "small timer" %>

	<% @job_list = ["a Bank Teller", "a Phone Marketer", "a Waiter", "an Uber Driver", "a Pizza Delivery Man", "an Office Manager", "a Cashier", "a Target Stock Room Manager", "a Service Rep At Comcast", "a Mechanic", "an Internet Marketer", "a Herr's Truck Driver", "a UPS Driver", "a Postal Worker", "a Garbage Man", "a Teacher", "a Valet Driver At The Hilton", "a Vegas Blackjack Dealer", "a Landscaper", "a Bread Truck Driver", "a Bowling Alley Mechanic", "a Therapist", "a Verizon Store Associate", "a Lifeguard", "a Retail Associate At Macy's", "a Kiosk Operator", "a Food Truck Operator", "a Custodian", "a Librarian", "a Law Office Assisstant", "a College Student", "a Pizza Cook", "a Line Worker at TGI Friday's", "a Cop", "a Sleepy's Mattress Salesman", "an Encyclopedia Salesman", "a Window Installer", "a Roofer", "a Construction Worker", "a Cafeteria Worker", "a High School Custodian", "a Liquor Salesman", "a Car Detailer", "a Gas Pump Operator", "a Denny's Line Cook","an Appliance Repair Man", "a Dishwasher Salesman", "a Claims Adjustor", "an Insurance Salesman"] %>

	<% @job = @job_list.sample %>

<% elsif @stakes == "pay dumper" %>

	<% @job_list = [" an Accountant", "a Web Designer", "a Pizza Shop Owner", "a Lawyer", "a Cable Technician at Comcast", "a Real Estate Broker", "a Small Business Owner", "a Psychiatrist", "a McDonald's Franchise Owner", "a Casino Executive", "a Bank Manager", "an Architect", "a Chemical an Engineer", "a Photagrapher", "a Fine Dining Chef", "a Pharmacist", "a Dunkin Donuts Franchisee", "a Burger King Franchisee", "a Chemist", "a College Professor", "a Stock Broker", "a Day Trader", "a Contractor", "a Civil Engineer", "a Graphic Designer", "a Kmart District Manager", "a Motivational Speaker", "a Professional Poker Player", "a Casino Host", "a Bartender", "an Art Dealer", "an Auctioneer", "a Car Dealership Proprietor", "a Writer", "an Orthodontist", "a Plumber", "an HVAC Repair Man", "an Online Wholesaler", "an Information Systems Manager", "a Speech Therpaist", "a Law Professor", "an Astronomer", "a Scientist", "an Economist", "an Anesthesiologist", "a DJ", "an Antiques Dealer", "a Card Counter" ] %>

	<% @job = @job_list.sample %>

<% elsif @stakes == "whale" %>

	<% @job_list = ["the Marketing Director For Walmart", "the CEO of a Tech Company", "a Wall Street Executive", "a billion dollar Hedge Fund Manager", "the VP of Heinz Inc.", "the son of a billionaire social media magante", "a Commercial Real Estate Developer", "the Owner of ten McDonald Franchises", "an Oil Exec", "a Hollywood Agent", "retired NFL Offensive Lineman", "the former CFO of Merril Lynch", "the COO of General Electric","a Crypto Currency Trader", "a Movie Producer", "a Board Member for Ford Motors", "a Jewler", "a former CMO of Gucci", "a Cable Company CEO", "in Big Tobacco in a Big Way", "a Street Pharmacist(wink-wink)", "a Business Management Consultant", "in Goverment Contracts", "the CEO of a leading cyber security firm", "the founder of a top Financial Consulting firm", "a partner in a top Law Firm", "a Brain Surgeon", "a Fashion Magnate", "a Real Estate Magnate", "a $300 million dollar winner of the Powerball", "an Exec at Home Depot", "an Exec at Lowes", "an Exec at Microsoft", "an Exec at Kellog", "an Exec at Deutsche Bank", "a Mobile Gas Executive", "the former CFO of Tinder", "an Exec at Fast Food Inc.", "an Exec at Yahoo", "the Operations Officer for Hershey", "a retired MLB player", "the Business Manager for Taylor Swift", "Tom Cruise's Agent", "an Exec for Sears", "an Exec for ETrade", "the CTO of Paypal", "a Fine Art Procurement Agent for Christie's", "an Exec at Chrysler"] %>

	<% @job = @job_list.sample %>

<% end %>

<% @cities = ["Philly ", "Chicago ", "NYC ", "Boston ", "Houston ", "Los Angeles ", "Brooklyn ", "Queens ", "Phoenix ", "San Antonio ", "the Bronx ", "San Diego ", "Dallas ", "San Jose ", "Austin ", "Jacksonville ", "San Francisco ", "Indianapolis ", "Columbus, OH ", "Fort Worth ", "Charlotte ", "Detroit" "El Paso", "Seattle", "Denver", "Washington D.C. ", "Memphis ", "Nashville ", "Baltimore ", "Oklahoma City ", "Staten Island ", "Kansas City ", "Honolulu ", "Pittsburgh ", "Santa Ana, CA ", "Mesa ", "Cleveland ", "Virginia Beach ", "Atlanta ", "Miami ", "St. Paul, MN ", "Henderson ", "Tampa ", "Raleigh, NC ", "Minneapolis ", "St. Louis ", "Orlando ", "Jersey City ", "Omaha ", "	Portland ", "Milwaukee ", "Oakland ", "Las Vegas ", "Tulsa ", "Plano ", "Anaheim ", "Riverside, CA ", "Stockton ", "Lincoln, NE ", "Arlington ", "Corpus Christi ", "Cincinnati ", "Buffalo ", "Fort Wayne, IN ", "Bakersfield ", "Turnersville, NJ ", "Folsom, PA ", "Chester, PA ", "Atlantic City ", "Margate, NJ ", "Ventnor, NJ ", "Truth Or Consequences, NM ", "Albuquerque ", "Wichita ", "Anchorage ", "Louisville ", "Greensboro, NC ", "Jefferson, CO ", "Harrisberg, PA ", "Trenton, NJ ", "Lower Merion, PA ", "Fayette, KY ", "Newark ", "Toledo ", "Compton ", "Oakland ", "Green Bay ", "Madison, WI ", "Hammonton, NJ ", "Absecon, NJ ", "Fresno ", "Sacramento ", "New Orleans ", "Lexington ", "the Outer Banks ", "Cherry Hill, NJ ", "Deptford, NJ ", "Niagra ", "Syracuse ", "Wilmigton, DE " ] %>

<% @city = @cities.sample %>

<% if @stakes == "small timer" %>

	<% @comment_holder = ["He'll never bury you, but a bunch of these small timers make you steady money.", "Yeah, he's a nickel and dimer, but at least you know he won't break you.", "He is small potatoes, but even a little adds up over time.", "Ok, so you're little sister could afford to book him, but you're building a client list so who cares.", "He is a non factor in the longrun, but the bookie golden rule is to turn down no bettor.", "The bad news is there will be nothing to sweat with his action, but that's the good news too.  Think about it.", ""] %>

	<% @comment = @comment_holder.sample %>

<% elsif @stakes == "pay dumper" %>

	<% @comment_holder = ["He has no problem dumping his entire paycheck each week", "When he runs bad betting sports, it means you run real good.", "He'll have weeks where he loses a dime or more.", "You'd take on ten guys just like him and never work a real job ever again", "You will have to sweat out some of his action, but in the longrun this idiot will buy you a new house.", "He's a steady loser with a steady job that's the secret to success as a bookie.", "This idiot is gonna hand you his paycheck each week.", "He has no wife and a good job.  You want this one.", "Even with his ex-wife and child support payments, he still gives enough action to make your Mercedes payment every month.", "Guys like this are a bookie's bread and butter.", "This guy is such a good catch, if you fish him in you should hold him up and take a picture like he's a fuckin' 600 pound marlin."] %>

	<% @comment = @comment_holder.sample %>

<% elsif @stakes == "whale" %>

	<% @comment_holder = ["He has money and he has balls.  If you back his action too soon, he can and will break you.", "You wanna walk around with a dime piece on your arm, and jewelry on your fingers, have the balls to back this guys action.", "This guys sends it in and he sends it in hard.  Be very careful.", "Once you have the bankroll to back whales like this, you've made it.", "He will bang you for a few dimes some nights, but he can also lose ten grand in a week too.", "After a few weeks, he'll be down so much that you'll be backing his action with his own money.", "The juice this guy will pay alone will put your kids through school.", "He's a bigtime gambler that would like nothing more than send you to the felt.", "When this monkey goes on losing streaks, money rains from the sky.", "With this guys action, you'll be buying new sneakers everyday just for the boxes so there's somewhere to put the cash."] %>

	<% @comment = @comment_holder.sample %>

<% end %>
	
	

<div id="client_intro">

	<div id="client_name">

		<%= @fname + " " %><%= @lname %>


	</div>

	<% if @bet_types == "Exotics" %>

		<% @bet_types = "Exotic" %>

	<% end %>

	<p>

		Meet <%= @fname %>, he is <%= @job %> from<%= " " %><%= @city %>that likes to bet on <%= @sports %> games. <%= @fname %> likes to bet <%=  @bet_types %> wagers, and he will make up to <%= @limit %> wager bets per night. <%= @fname %> will bet anywhere between <%= "$" %><%= @bet_amounts.first %> and <%= "$" %><%= @bet_amounts.last %> per wager. <%= @comment %>



	</p>




</div>




<script src="/assets/client.js"></script>







