
<div><input type="text" name="Guess" id="guess">
<input type="submit" value="Fish" id="submit">

</div>

<% @names = ["Bill", "Steve", "Mike", "Paul", "John", "Pete", "Dave", "Vinny", "Bobby", "Tony", "Jack"] %>
<% @fname = @names.sample %>
<% @surname = ["Miller", "Johnson", "Curtis", "Smith", "Dunn", "Pitt", "Franklin", "Gucci", "O'Mally", "Jones", "Howard", "Cabrerra", "Ortiz", "Stein", "Gold"] %>
<% @lname = @surname.sample %>
<% @money = ["small timer", "pay dumper", "whale"] %>
<% @stakes = @money.sample %>
<% @bets = ["Exotics", "Straight", "All"] %>
<% @bet_types = @bets.sample %>

<% @sport_choices = "NFL", "NBA", "MLB and NHL", "NFL and NBA", "NHL", "MLB", "NFL and MLB", "CBB", "CFB", "NFL and CFB", "CBB and NBA", "NFL", "CFB and NFL", "MLB and NFL", "NFL and NBA" %>

<% @sports = @sport_choices.sample %>



<div>
<%= form_for @client do |c| %>
	<%= c.hidden_field :user_id, :value => current_user.id %>
	<div> <%=c.text_field :first_name, :value => @fname %></div>
	<div> <%=c.text_field :last_name, :value => @lname %></div>
	<div> <%=c.text_field :stakes, :value => @stakes %></div>
	<div> <%=c.text_field :bet_types, :value => @bet_types %></div>
	<div> <%=c.text_field :sports, :value => @sports %></div>

	<% end %>

</div>

<% current_user.clients.each do |c| %>

	<div><%= c.first_name %>
		<%= c.last_name %></div>
		<br>

<% end %>

<script src="/assets/client.js"></script>




