<% @current_br %>
<% @user_results = [] %>
<% self.get_user_br %>

<div id="searchK_keys">
	
	<label>Choose a day:
	<input list="days" name="days" id="dayChoice" /></label>
	<datalist id="days">
	  <option value="01">
	  <option value="02">
	  <option value="03">
	  <option value="04">
	  <option value="05">
	  <option value="06">
	  <option value="07">
	  <option value="08">
	  <option value="09">
	  <option value="10">
	  <option value="11">
	  <option value="12">
	  <option value="13">
	  <option value="14">
	  <option value="15">
	  <option value="16">
	  <option value="17">
	  <option value="18">
	  <option value="19">
	  <option value="20">
	  <option value="21">
	  <option value="22">
	  <option value="23">
	  <option value="24">
	  <option value="25">
	  <option value="26">
	  <option value="27">
	  <option value="28">
	  <option value="29">
	  <option value="30">
	  <option value="31">
	</datalist>


	<label>Choose a Month:
	<input list="months" name="months" id= "monthChoice" /></label>
	<datalist id="months">
	  <option value="Jan">
	  <option value="Feb">
	  <option value="Mar">
	  <option value="Apr">
	  <option value="May">
	  <option value="Jun">
	  <option value="Jul">
	  <option value="Aug">
	  <option value="Sep">
	  <option value="Oct">
	  <option value="Nov">
	  <option value="Dec">
	</datalist>

	<label>Choose a Year:
	<input list="years" name="years" id="yearChoice" /></label>
	<datalist id="years">
	  <option value="2018">
	  <option value="2019">
	</datalist>

	<input type="submit" name="submit" value="ENTER" id="subBtn">

</div>

<div id="master">

	<div class = "type_cont" id="str_cont">

		<div class="ty_label">STRAIGHT BETS</div>
		<div class = "booked" id="str_booked">BOOKED: </div>
		<div class = "wag_prof" id="str_profit">PROFIT: </div>
		

	</div>
	<div class = "type_cont" id="teas_cont">

		<div class="ty_label">TEASER BETS</div>
		<div class = "booked" id="teas_booked">BOOKED: </div>
		<div class = "wag_prof" id="teas_profit">PROFIT: </div>
		
		<div class = "t_type">TWO TEAM TEASERS

			<div class = "t_booked" id="two_t_booked">BOOKED: </div>
			<div class = "t_profit" id="two_t_prof">PROFIT: </div>



		</div>

		<div class = "t_type">THREE TEAM TEASERS

			<div class = "t_booked" id="three_t_booked">BOOKED: </div>
			<div class = "t_profit" id="three_t_prof">PROFIT: </div>



		</div>

		<div class = "t_type">FIVE TEAM TEASERS

			<div class = "t_booked" id="five_t_booked">BOOKED: </div>
			<div class = "t_profit" id="five_t_prof">PROFIT: </div>



		</div>
		

	</div>
	<div class = "type_cont" id="par_cont">

		<div class="ty_label">PARLAY BETS</div>

		<div class = "booked" id="par_booked">BOOKED: </div>
		<div class = "wag_prof" id="par_profit">PROFIT: </div>
		
		<div class = "t_type">TWO TEAM PARLAYS

			<div class = "p_booked" id="two_p_booked">BOOKED: </div>
			<div class = "p_profit" id="two_p_prof">PROFIT: </div>



		</div>

		<div class = "t_type">THREE TEAM PARLAYS

			<div class = "t_booked" id="three_p_booked">BOOKED: </div>
			<div class = "t_profit" id="three_p_prof">PROFIT: </div>



		</div>

		<div class = "t_type">FIVE TEAM PARLAYS

			<div class = "t_booked" id="five_p_booked">BOOKED: </div>
			<div class = "t_profit" id="five_p_prof">PROFIT: </div>



		</div>
		

	</div>
	<div class = "type_cont" id="rev_cont">

		<div class="ty_label">REVERSE BETS</div>

		<div class = "booked" id="rev_booked">BOOKED: </div>
		<div class = "wag_prof" id="rev_profit">PROFIT: </div>
		
		<div class = "t_type">TWO TEAM REVERSES

			<div class = "t_booked" id="two_r_booked">BOOKED: </div>
			<div class = "t_profit" id="two_r_prof">PROFIT: </div>



		</div>

		<div class = "t_type">THREE TEAM REVERSES

			<div class = "t_booked" id="three_r_booked">BOOKED: </div>
			<div class = "t_profit" id="three_r_prof">PROFIT: </div>



		</div>

		<div class = "t_type">FOUR TEAM REVERSES

			<div class = "t_booked" id="four_r_booked">BOOKED: </div>
			<div class = "t_profit" id="four_r_prof">PROFIT: </div>



		</div>
		

	</div>





</div>

<div class = "total_results" id="daily_prof">NET FOR DAY: </div>
<div class = "total_results" id="net_percent">PERCENT CHANGE: </div>



<div id="type"></div>
<div id="amount"></div>
<div id="result"></div>

<script>
	
var subBtn = document.getElementById("subBtn")
var dayList = document.getElementById("dayChoice")
var monthList = document.getElementById("monthChoice")
var yearList = document.getElementById("yearChoice")
var wagerT = document.getElementById("type")
var wagerAm = document.getElementById("amount")
var wagerResult = document.getElementById("result")
var wagerType
var wagerAmount
var netResult

var master = document.getElementById("master")



subBtn.addEventListener("click", function(){

	var searchHolder = []
	var teaserHolder = []
	var straightHolder = []
	var parlayHolder = []
	var reverseHolder = []
	var two_t_holder = []
	var three_t_holder = []
	var five_t_holder = []
	var two_p_holder = []
	var three_p_holder = []
	var five_p_holder = []
	var two_r_holder = []
	var three_r_holder = []
	var four_r_holder = []
	var str_res_hold = []
	var twoTSum
	var threeTSum
	var fiveTSum
	var twoPSum
	var threePSum
	var fivePSum
	var twoRSum
	var threeRSum
	var fourRSum
	var teaserTotal
	var parlayTotal
	var reverseTotal
	var straightProfit
	var currentBR = <%= @current_br %>

	str_booked.innerHTML = "BOOKED: "
	teas_booked.innerHTML = "BOOKED: "
	par_booked.innerHTML = "BOOKED: "
	rev_booked.innerHTML = "BOOKED: "
	rev_profit.innerHTML = "PROFIT: "
	par_profit.innerHTML = "PROFIT: "
	teas_profit.innerHTML = "PROFIT: "
	str_profit.innerHTML = "PROFIT: "
	two_t_booked.innerHTML = "BOOKED: "
	three_t_booked.innerHTML = "BOOKED: "
	five_t_booked.innerHTML = "BOOKED: "
	five_p_booked.innerHTML = "BOOKED: "
	three_p_booked.innerHTML = "BOOKED: "
	two_p_booked.innerHTML = "BOOKED: "
	two_r_booked.innerHTML = "BOOKED: "
	three_r_booked.innerHTML = "BOOKED: "
	four_r_booked.innerHTML = "BOOKED: "
	two_t_prof.innerHTML = "PROFIT: "
	three_t_prof.innerHTML = "PROFIT: "
	five_t_prof.innerHTML = "PROFIT: "
	five_p_prof.innerHTML = "PROFIT: "
	three_p_prof.innerHTML = "PROFIT: "
	two_p_prof.innerHTML = "PROFIT: "
	two_r_prof.innerHTML = "PROFIT: "
	three_r_prof.innerHTML = "PROFIT: "
	four_r_prof.innerHTML = "PROFIT: "
	net_percent.innerHTML = "PERCENT CHANGE: "
	daily_prof.innerHTML = "NET FOR DAY: "
	

	var myDate = dayList.value + " " + monthList.value + " " + yearList.value

	<% current_user.wagers.each do |w| %>

		if (myDate == "<%= w.date %>"){

			var hashHolder = new Object
			wagerType = "<%=w.wager_type %>"
			wagerAmount = "<%=w.amount %>"
			netResult = "<%=w.net_result %>"

			hashHolder.wagerType = wagerType
			hashHolder.wagerAmount = wagerAmount
			hashHolder.netResult = netResult

			searchHolder.push(hashHolder)




		}





	<% end %>

	console.log(searchHolder)

	for(i=0; i<searchHolder.length; i++){


		if (searchHolder[i].wagerType == "two team teaser" || searchHolder[i].wagerType == "three team teaser" || searchHolder[i].wagerType == "five team teaser"){

			teaserHolder.push(searchHolder[i])
			

		} else if (searchHolder[i].wagerType == "two team parlay" || searchHolder[i].wagerType == "three team parlay" || searchHolder[i].wagerType == "five team parlay"){

			parlayHolder.push(searchHolder[i])


		} else if (searchHolder[i].wagerType == "two team reverse" || searchHolder[i].wagerType == "three team reverse" || searchHolder[i].wagerType == "four team reverse"){

			reverseHolder.push(searchHolder[i])

		}else{

			if(searchHolder[i].wagerType == "straight"){

				straightHolder.push(searchHolder[i])
			}
		}
	}

	function add(a, b) {
			
		return a + b;
	}

	function sortWagers(array){

		if (array.length > 0){

			for(i=0; i<array.length; i++){

				if (array[i].wagerType == "two team teaser"){

					var net = parseInt(array[i].netResult)

					two_t_holder.push(net)

				}else if (array[i].wagerType == "three team teaser"){

					var net = parseInt(array[i].netResult)

					three_t_holder.push(net)
					
				}else if (array[i].wagerType == "five team teaser"){

					var net = parseInt(array[i].netResult)

					five_t_holder.push(net)
					
				}else if (array[i].wagerType == "two team parlay"){

					var net = parseInt(array[i].netResult)

					two_p_holder.push(net)
					
				}else if (array[i].wagerType == "three team parlay"){

					var net = parseInt(array[i].netResult)

					three_p_holder.push(net)
					
				}else if (array[i].wagerType == "five team parlay"){

					var net = parseInt(array[i].netResult)

					five_p_holder.push(net)
					
				}else if (array[i].wagerType == "two team reverse"){

					var net = parseInt(array[i].netResult)

					two_r_holder.push(net)
					
				}else if (array[i].wagerType == "three team reverse"){

					var net = parseInt(array[i].netResult)

					three_r_holder.push(net)
					
				}else if (array[i].wagerType == "four team reverse"){

					var net = parseInt(array[i].netResult)

					four_r_holder.push(net)
					
				}else{

				
				}
			}
		}


		two_t_booked.innerHTML = two_t_booked.innerHTML + two_t_holder.length

		three_t_booked.innerHTML = three_t_booked.innerHTML + three_t_holder.length

		five_t_booked.innerHTML = five_t_booked.innerHTML + five_t_holder.length
				
		five_p_booked.innerHTML = five_p_booked.innerHTML + five_p_holder.length
				
		three_p_booked.innerHTML = three_p_booked.innerHTML + three_p_holder.length
				
		two_p_booked.innerHTML = two_p_booked.innerHTML + two_p_holder.length
				
		two_r_booked.innerHTML = two_r_booked.innerHTML + two_r_holder.length
				
		three_r_booked.innerHTML = three_r_booked.innerHTML + three_r_holder.length
				
		four_r_booked.innerHTML = four_r_booked.innerHTML + four_r_holder.length

		twoTSum = two_t_holder.reduce(add, 0) * -1
		threeTSum = three_t_holder.reduce(add, 0) * -1
		fiveTSum = five_t_holder.reduce(add, 0) * -1
		fivePSum = five_p_holder.reduce(add, 0) * -1
		threePSum = three_p_holder.reduce(add, 0) * -1
		twoPSum = two_p_holder.reduce(add, 0) * -1
		twoRSum = two_r_holder.reduce(add, 0) * -1
		threeRSum = three_r_holder.reduce(add, 0) * -1
		fourRSum = four_r_holder.reduce(add, 0) * -1

		if (straightHolder.length > 0) {

			for (i=0; i<straightHolder.length; i++){

				var net = parseInt(straightHolder[i].netResult)

				str_res_hold.push(net)
					
			}

			straightProfit = str_res_hold.reduce(add, 0) * -1

		}


		teaserTotal = twoTSum + threeTSum + fiveTSum
		parlayTotal = twoPSum + threePSum + fivePSum
		reverseTotal = twoRSum + threeRSum + fourRSum

		var sumTotal = teaserTotal + parlayTotal + reverseTotal + straightProfit

		var percent = sumTotal/currentBR * 100
		 
		percent = percent.toFixed(2)
		percent = percent.toString() + "%"

		 net_percent.innerHTML = net_percent.innerHTML + percent


		if (sumTotal > 0){

			sumTotal = "+" + sumTotal.toString()
		}

		daily_prof.innerHTML += sumTotal

		if (straightProfit > 0){

				straightProfit = "+" + straightProfit.toString()
		}

		str_profit.innerHTML = str_profit.innerHTML + straightProfit

		if (teaserTotal > 0){

			teaserTotal = "+" + teaserTotal.toString()

		}

		if (parlayTotal > 0){

			parlayTotal = "+" + parlayTotal.toString()

		}

		if (reverseTotal > 0){

			reverseTotal = "+" + reverseTotal.toString()


		}

		teas_profit.innerHTML = teas_profit.innerHTML + teaserTotal
		par_profit.innerHTML = par_profit.innerHTML+ parlayTotal
		rev_profit.innerHTML = rev_profit.innerHTML + reverseTotal 

		if (twoTSum > 0){

			twoTSum = "+" + twoTSum.toString()
		}

		if (threeTSum > 0){

			threeTSum = "+" + threeTSum.toString()
		}

		if (fiveTSum > 0){

			fiveTSum = "+" + fiveTSum.toString()
		}

		if (twoPSum > 0){

			twoPSum = "+" + twoPSum.toString()
		}

		if (threePSum > 0){

			threePSum = "+" + threePSum.toString()
		}

		if (fivePSum > 0){

			fivePSum = "+" + fivePSum.toString()
		}

		if (twoRSum > 0){

			twoRSum = "+" + twoRSum.toString()
		}

		if (threeRSum > 0){

			threeRSum = "+" + threeRSum.toString()
		}

		if (fourRSum > 0){

			fourRSum = "+" + fourRSum.toString()
		}
		

		two_t_prof.innerHTML = two_t_prof.innerHTML + twoTSum 
				
		three_t_prof.innerHTML = three_t_prof.innerHTML + threeTSum 
				
		five_t_prof.innerHTML = five_t_prof.innerHTML + fiveTSum 
				
		five_p_prof.innerHTML = five_p_prof.innerHTML + fivePSum 
				
		three_p_prof.innerHTML = three_p_prof.innerHTML + threePSum
				
		two_p_prof.innerHTML = two_p_prof.innerHTML + twoPSum
				
		two_r_prof.innerHTML = two_r_prof.innerHTML + twoRSum
				
		three_r_prof.innerHTML = three_r_prof.innerHTML + threeRSum
				
		four_r_prof.innerHTML = four_r_prof.innerHTML + fourRSum 
				
		
	}
	

	sortWagers(searchHolder)

	console.log([twoTSum, threeTSum, twoRSum, fivePSum, twoPSum])

	str_booked.innerHTML = str_booked.innerHTML + straightHolder.length
	teas_booked.innerHTML = teas_booked.innerHTML + teaserHolder.length 
	par_booked.innerHTML = par_booked.innerHTML + parlayHolder.length 
	rev_booked.innerHTML = rev_booked.innerHTML + reverseHolder.length 
	


})








</script>




