
<% @secrets_cont = [] %>

<% @users_leagues = [] %>
<% @users_pools = [] %>
<% @completed_pools = [] %>
<% @completed_leagues = [] %>
<% @active_leagues = [] %>
<% @active_pools = [] %>
<% @contestants = [] %>
<% @pool_players = [] %>
<% @pool_standings = [] %>
<% @eliminated = [] %>
<% @still_alive = [] %>
<% @winners = [] %>
<% @losers = [] %>
<% @wager_total = 0 %>
<% @my_date %>
<% @serial_num_check %>
<% @wagers_backed = current_user.league_wagers.count %>
<% @total = 0 %>

<% self.get_leagues %>

<% self.get_time %>

<% self.convert_date(@my_date) %>

<% @my_date = @serial_num_check %>






<% League.all.each do |l| %>

	<% @secrets_cont.each do |s| %>

		<% if l.pass == s %>

			<% @users_leagues.push(l) %>


		<% end %>


	<% end %>

<% end %>

<div>
	

	<% Pool.all.each do |p| %>

		<% @secrets_cont.each do |s| %>

			<% if p.pass == s %>

				<% @users_pools.push(p) %>			

			<% end %>


		<% end %>

	<% end %>


</div>

<div>

	<% @users_leagues.each do |l| %>

		<% self.convert_date(l.end_date) %>

		<% if @serial_num_check < @my_date %>

			<% @completed_leagues.push(l) %>

		<% else %>

			<% @active_leagues.push(l) %>

		<% end %>

	<% end %>

	<% @users_pools.each do |p| %>

		<% @pool = p %>

		<% self.get_pool_players %>
		<% self.get_all_selections %>
		<% self.get_remaining_contestants %>

		<% if @still_alive.length > 1 %>

			<% @active_pools.push(p) %>


		<% else %>

			<% @completed_pools.push(p) %>

		<% end %>


	<% end %>


	


</div>

<div id="profile_cont">
	
	<div id="profile_leagues" class="prof_cont">

		<div id="active_leagues"><div class="prof_label">ACTIVE LEAGUES</div>

				<% @active_leagues.each do |l| %>

					<div class="prof_links"><%=link_to l.league_name.upcase, league_path(l.id) %></div>

				<% end %>

		</div>

		<div id="league_stats"><div class = "prof_label">LEAGUE STATS</div>

			<% current_user.league_wagers.each do |w| %>


				<% if w.net_result.to_i > 0 || w.net_result.to_i < 0 %>

					<% @total = @total + (w.net_result.to_i * -1) %>

				<% end %>

			<% end %>

			<% if @total > 0 %>


				<% @total = "+" + @total.to_s %>

			<% end %>

			<div>Total Profit: <%= @total %></div>
			<div>Wagers Backed: <%= @wagers_backed %></div>

		</div>


	</div>

	<div id="profile_pools" class="prof_cont">



	</div>




</div>

<div class="hide">
	
		<% @active_pools.each do |p| %>

		<div><%=link_to p.pool_name.upcase, pool_path(p.id) %></div>

	<% end %>


<% current_user.selections.each do |s| %>
	
	<% if s.result == "winner" %>

		<% @winners.push(s) %>

	<% elsif s.result == "loser" %>

		<% @losers.push(s) %>

	<% end %>

<% end %>



<% @wins = @winners.length %>
<% @total = @losers.length + @winners.length %>





<% @percentage = @wins.to_f/@total.to_f * 100 %>

<%= @percentage.to_s + "%" %>

	
	

	<%= current_user.league_wagers.count %>



</div>





	
















