<% @wager_id = @wager.id %>

<% @cl_id = @wager.client_id %>

<% @ungraded_wagers = [] %>

<% current_user.clients.each do |c| %>

	<% c.wagers.each do |w| %>

		<% if w.graded == false && w.date != @my_date %>

			<% @ungraded_wagers.push(w.id) %>

			
		<% end %>


	<% end %>



<% end %>


<% @client_name %>
<% @ml_counter %>
<% @get_val = 0 %>
<% @client_ser = [] %>
<% @client_results = [] %>
<% @user_results = [] %>


<% @winners %>
<% @losers %>
<% @parlay_one %>
<% @parlay_two %>
<% @parlay_three %>
<% @parlay_four %>
<% @parlay_five %>
<% @rev_team1 %>
<% @rev_team2 %>
<% @rev_team3 %>
<% @user_b = [] %>
<% @user_b2 = [] %>
<% @client_br = [] %>
<% @current_br %>
<% @current_client_br %>
<% @net_p_l %>
<% @wager_hash_one %>
<% @wager_hash_two %>
<% @rev_win %>
<% @rev_lose %>
<% @rev_push %>

<% @date = Time.now %> 
<% @day = @date.strftime("%d") %>
<% @month = @date.strftime("%b") %>
<% @year = @date.strftime("%Y") %>

<% @get_hour = Time.now %>  
<% @hour = @get_hour.strftime("%H") %>
<% @min = @get_hour.strftime("%M") %>
<% @sec = @get_hour.strftime("%3N") %>

<% @time_check = @hour << @min << @sec %>

<% if @month == "Sep" %>

	<% @month = "09" %>

<% elsif @month == "Jan" %>

	<% @month = "01" %>

<% elsif @month == "Feb" %>

	<% @month = "02" %>

<% elsif @month == "Mar" %>

	<% @month = "03" %>

<% elsif @month == "Apr" %>

	<% @month = "04" %>

<% elsif @month == "May" %>

	<% @month = "05" %>

<% elsif @month == "Jun" %>

	<% @month = "06" %>

<% elsif @month == "Jul" %>

	<% @month = "07" %>

<% elsif @month == "Aug" %>

	<% @month = "08" %>

<% elsif @month == "Oct" %>

	<% @month = "10" %>

<% elsif @month == "Nov" %>

	<% @month = "11" %>

<% elsif @month == "Dec" %>

	<% @month = "12" %>

<% end %>

<% @holder_s = @year + @month + @day %>

<% @serial_num = @holder_s + @time_check %>


<% self.get_client_br %>
<% self.get_user_br %>




<% if @current_client_br.to_i > 0 %>

	<% @current_client_br = "+" + @current_client_br.to_s %>


<% end %>

<% if @current_br.to_i > 0 %>

	<% @current_br = "+" + @current_br.to_s %>


<% end %>

<div id="bank_cont">
	
	<div id="client_bank">CLIENT FIGURE: <%= @current_client_br %></div>
	<div id="user_bank"><%= current_user.sports_book_name.upcase %> PROFIT: <%= @current_br %>

	<% current_user.clients.each do |c| %>

		<% if c.id == @wager.client_id %>

			<% @client_name = c.first_name + " " + c.last_name %>

		<% end %>



	<% end %>

	<div id="clientName">CLIENT NAME: <%= @client_name.upcase %></div>

</div>





<script>
	
	var wagerId = <%= @wager_id %>

</script>

<% @current_client_br = @current_client_br.to_i %>
<% @current_br = @current_br.to_i %>




<div class = "wager_info">
	<% if @wager.wager_type == "straight" %>

		<% self.score_straight %>

	<% if @wager.team1.length < 12 %>

		<% if @wager.spread1 > 0 %>

			<% @wager_spread1 = "+" + @wager.spread1.to_s %>

		<% else %>

			<% @wager_spread1 = @wager.spread1 %>

		<% end %>

	<% else %>

		<% @wager_spread1 = @wager.spread1 %>

	<% end %>
		
		<div><%= "$" + @wager.amount.to_s %></div>
		<div><%= @wager.wager_type %></div>
		<div><%= @wager.team1 %>
		<%= @wager_spread1 %></div>

	<% end %>


	<% if (@wager.wager_type == "two team teaser" || @wager.wager_type == "two team parlay" || @wager.wager_type == "two team reverse") %>



		<% if @wager.wager_type == "two team teaser" %>

			<% self.two_team_teaser %>

		<% elsif @wager.wager_type == "two team parlay" %>

			<% self.two_team_parlay %>

		<% elsif @wager.wager_type == "two team reverse" %>

			<% self.two_team_reverse %>

		<% end %>

	<% if @wager.team1.length < 12 %>

		<% if @wager.spread1 > 0 %>

			<% @wager_spread1 = "+" + @wager.spread1.to_s %>

		<% else %>

			<% @wager_spread1 = @wager.spread1 %>

		<% end %>

	<% else %>

		<% @wager_spread1 = @wager.spread1 %>

	<% end %>

	<% if @wager.team2.length < 12 %>

		<% if @wager.spread2 > 0 %>

			<% @wager_spread2 = "+" + @wager.spread2.to_s %>

		<% else %>

			<% @wager_spread2 = @wager.spread2 %>

		<% end %>

	<% else %>

		<% @wager_spread2 = @wager.spread2 %>

	<% end %>
			
		<div><%= "$" + @wager.amount.to_s %></div>
		<div><%= @wager.wager_type %></div>
		<div><%= @wager.team1 %>
		<%= @wager_spread1 %></div>
		<div><%= @wager.team2 %>
		<%= @wager_spread2 %></div>

	<% end %>

	<% if (@wager.wager_type == "three team teaser" || @wager.wager_type == "three team parlay" || @wager.wager_type == "three team reverse") %>

		<% if @wager.wager_type == "three team teaser" %>

			<% self.three_team_teaser %>

		<% elsif @wager.wager_type == "three team parlay" %>

			<% self.three_team_parlay %>

		<% elsif @wager.wager_type == "three team reverse" %>

			<% self.three_team_reverse %>

		<% end %>

	<% if @wager.team1.length < 12 %>

		<% if @wager.spread1 > 0 %>

			<% @wager_spread1 = "+" + @wager.spread1.to_s %>

		<% else %>

			<% @wager_spread1 = @wager.spread1 %>

		<% end %>

	<% else %>

		<% @wager_spread1 = @wager.spread1 %>

	<% end %>

	<% if @wager.team2.length < 12 %>

		<% if @wager.spread2 > 0 %>

			<% @wager_spread2 = "+" + @wager.spread2.to_s %>

		<% else %>

			<% @wager_spread2 = @wager.spread2 %>

		<% end %>

	<% else %>

		<% @wager_spread2 = @wager.spread2 %>

	<% end %>



	<% if @wager.team3.length < 12 %>

		<% if @wager.spread3 > 0 %>

			<% @wager_spread3 = "+" + @wager.spread3.to_s %>

		<% else %>

			<% @wager_spread3 = @wager.spread3 %>

		<% end %>

	<% else %>

		<% @wager_spread3 = @wager.spread3 %>

	<% end %>



		<div><%= "$" + @wager.amount.to_s %></div>
		<div><%= @wager.wager_type %></div>
		<div><%= @wager.team1 %>
		<%= @wager_spread1 %></div>
		<div><%= @wager.team2 %>
		<%= @wager_spread2 %></div>
		<div><%= @wager.team3 %>
		<%= @wager_spread3 %></div>

	<% end %>

	<% if (@wager.wager_type == "four team reverse") %>

		<% self.four_team_reverse %>

	<% if @wager.team1.length < 12 %>

		<% if @wager.spread1 > 0 %>

			<% @wager_spread1 = "+" + @wager.spread1.to_s %>

		<% else %>

			<% @wager_spread1 = @wager.spread1 %>

		<% end %>

	<% else %>

		<% @wager_spread1 = @wager.spread1 %>

	<% end %>

	<% if @wager.team2.length < 12 %>

		<% if @wager.spread2 > 0 %>

			<% @wager_spread2 = "+" + @wager.spread2.to_s %>

		<% else %>

			<% @wager_spread2 = @wager.spread2 %>

		<% end %>

	<% else %>

		<% @wager_spread2 = @wager.spread2 %>

	<% end %>



	<% if @wager.team3.length < 12 %>

		<% if @wager.spread3 > 0 %>

			<% @wager_spread3 = "+" + @wager.spread3.to_s %>

		<% else %>

			<% @wager_spread3 = @wager.spread3 %>

		<% end %>

	<% else %>

		<% @wager_spread3 = @wager.spread3 %>

	<% end %>

	<% if @wager.team4.length < 12 %>

		<% if @wager.spread4 > 0 %>

			<% @wager_spread4 = "+" + @wager.spread4.to_s %>

		<% else %>

			<% @wager_spread4 = @wager.spread4 %>

		<% end %>

	<% else %>

		<% @wager_spread4 = @wager.spread4 %>

	<% end %>

		<div><%= "$" + @wager.amount.to_s %></div>
		<div><%= @wager.wager_type %></div>
		<div><%= @wager.team1 %>
		<%= @wager_spread1 %></div>
		<div><%= @wager.team2 %>
		<%= @wager_spread2 %></div>
		<div><%= @wager.team3 %>
		<%= @wager_spread3 %></div>
		<div><%= @wager.team4 %>
		<%= @wager_spread4 %></div>

	<% end %>

	<% if (@wager.wager_type == "five team teaser" || @wager.wager_type == "five team parlay") %>

		<% if @wager.wager_type == "five team teaser" %>

			<% self.five_team_teaser %>

		<% elsif @wager.wager_type == "five team parlay" %>

			<% self.five_team_parlay %>

		<% end %>

	<% if @wager.team1.length < 12 %>

		<% if @wager.spread1.to_i > 0 %>

			<% @wager_spread1 = "+" + @wager.spread1.to_s %>

		<% else %>

			<% @wager_spread1 = @wager.spread1 %>

		<% end %>

	<% else %>

		<% @wager_spread1 = @wager.spread1 %>

	<% end %>

	<% if @wager.team2.length < 12 %>

		<% if @wager.spread2.to_i > 0 %>

			<% @wager_spread2 = "+" + @wager.spread2.to_s %>

		<% else %>

			<% @wager_spread2 = @wager.spread2 %>

		<% end %>

	<% else %>

		<% @wager_spread2 = @wager.spread2 %>

	<% end %>



	<% if @wager.team3.length < 12 %>

		<% if @wager.spread3.to_i > 0 %>

			<% @wager_spread3 = "+" + @wager.spread3.to_s %>

		<% else %>

			<% @wager_spread3 = @wager.spread3 %>

		<% end %>

	<% else %>

		<% @wager_spread3 = @wager.spread3 %>

	<% end %>

	<% if @wager.team4.length < 12 %>

		<% if @wager.spread4.to_i > 0 %>

			<% @wager_spread4 = "+" + @wager.spread4.to_s %>

		<% else %>

			<% @wager_spread4 = @wager.spread4 %>

		<% end %>

	<% else %>

		<% @wager_spread4 = @wager.spread4 %>

	<% end %>

	<% if @wager.team5.length < 12 %>

		<% if @wager.spread5.to_i > 0 %>

			<% @wager_spread5 = "+" + @wager.spread5.to_s %>

		<% else %>

			<% @wager_spread5 = @wager.spread5 %>

		<% end %>

	<% else %>

		<% @wager_spread5 = @wager.spread5 %>

	<% end %>

		<div><%= "$" + @wager.amount.to_s %></div>
		<div><%= @wager.wager_type %></div>
		<div><%= @wager.team1 %>
		<%= @wager_spread1 %></div>
		<div><%= @wager.team2 %>
		<%= @wager_spread2 %></div>
		<div><%= @wager.team3 %>
		<%= @wager_spread3 %></div>
		<div><%= @wager.team4 %>
		<%= @wager_spread4 %></div>
		<div><%= @wager.team5 %>
		<%= @wager_spread5 %></div>

	<% end %>

	<input type="submit" Value="Grade All Wagers" id="gradeSubmit">

</div>




<div class="hide">
	
	<%= form_for @wager do |w| %>



		<%= w.hidden_field :user_id  %>
		<%= w.hidden_field :client_id %>
		Type:<div><%= w.text_field :wager_type %></div>
		Amount:<div><%= w.text_field :amount %></div>
		Team1:<div><%= w.text_field :team1 %></div>
		Team2:<div><%= w.text_field :team2 %></div>
		Team3:<div><%= w.text_field :team3 %></div>
		Team4:<div><%= w.text_field :team4 %></div>
		Team5:<div><%= w.text_field :team5 %></div>
		Spread1:<div><%= w.text_field :spread1 %></div>
		Spread2:<div><%= w.text_field :spread2 %></div>
		Spread3:<div><%= w.text_field :spread3 %></div>
		Spread4:<div><%= w.text_field :spread4 %></div>
		Spread5:<div><%= w.text_field :spread5 %></div>
		Date:<div><%= w.text_field :date %></div>
		Net W/L:<div><%= w.text_field :net_result, :value => @net_p_l %></div>
		User_BR:<div><%= w.text_field :user_bankroll, :value => @current_br %></div>
		Client_BR:<div><%= w.text_field :client_bankroll, :value => @current_client_br %></div>
		Outcome:<div><%= w.text_field :outcome, :value => @wager.outcome  %></div>
		Graded:<div><%= w.text_field :graded, :value => true %></div>
		Serial#:<div><%= w.text_field :serial_num, :value => @serial_num %></div>
		<div><%= w.submit%></div>

	<% end %>
</div>
</div>


<script>

	console.log(wagerId)

	var ungradedWagers = <%= @ungraded_wagers %>

	

	var cssID = "edit_wager_" + ungradedWagers[0]

	console.log(cssID)

	var scoreWager = document.getElementById(cssID)

	if(ungradedWagers.length > 0){

		scoreWager.submit()
	}
	




</script>

<script src="/assets/grade_wager.js"></script>


