
<% @nfl_sides = ["Bears", "Falcons", "Saints"] %>
<% @nfl_totals = ["45", "50", "43", "48"] %>

<% @MLB_sides = [] %>
<% @MLB_totals = [] %>

<% @NBA_totals = [] %>
<% @NBA_sides = [] %>

<% @NHL_sides = [] %>
<% @NHL_totals = [] %>

<% @CBB_sides = [] %>
<% @CBB_totals = [] %>

<% @CFB_totals = [] %>
<% @CFB_sides = [] %>


<% @pick_1 = ["Ravens +6", "Eagles -5", "Under 48.5 Chargers", "Chiefs -2.5", "Over 50 Saints", "Packers +1"] %>
<% @team1 = @pick_1.sample %>

<% @pick_2 = ["Giants -3.5", "Redskins +4", "Bears -4", "Seahawks +2", "49ers -7", "Over 49.5 Steelers", "Under 43 Browns", "Titans +2"] %>
<% @team2 = @pick_2.sample %>

<% @pick_3 = ["Raiders -8", "Broncos +5", "Patriots -10", "Under 46 Dolphins", "Over47.5 Jets"] %>
<% @team3 = @pick_3.sample %>






<% @client = current_user.clients.sample %>
<% self.pick_amount %>
<%= self.pick_type  %>


<% if @client.bet_types == "Straight" %>

	<% @wager_type = "straight" %>

<% elsif @client.bet_types == "Exotics" %>


	<% @select_type = ["two team teaser", "three team teaser", "five team teaser", "two team parlay", "three team parlay", "five team parlay", "two team reverse", "three team reverse", "four team reverse"] %>

	<% @wager_type = @select_type.sample %>

<% elsif @client.bet_types == "All" %>


	<% @select_type = ["straight", "straight", "straight", "straight", "two team teaser", "three team teaser", "five team teaser", "two team parlay", "three team parlay", "five team parlay", "two team reverse", "three team reverse", "four team reverse", "straight", "straight"] %>

	<% @wager_type = @select_type.sample %>

<% end %>

<% self.display %>


<div><%= @client.first_name %>
	<%= @client.last_name %></div>





<% if (@wager_type == "straight") %>

<div><%= @amount %>
<%= @wager_type %></div>
<div><%= @team1 %>
	<%= @spread1 %></div>

<%= form_for @wager do |w| %>

	<%= w.hidden_field :user_id, :value => current_user.id %>
	<%= w.hidden_field :client_id, :value => @client.id %>
	Type:<div><%= w.text_field :wager_type, :value => @wager_type %></div>
	Amount:<div><%= w.text_field :amount, :value => @amount %></div>
	Team:<div><%= w.text_field :team1, :value => @team1 %></div>
	<div><%= w.hidden_field :team2 %></div>
	<div><%= w.hidden_field :team3 %></div>
	<div><%= w.hidden_field :team4 %></div>
	<div><%= w.hidden_field :team5 %></div>
	Spread:<div><%= w.text_field :spread1, :value => @spread1 %></div>
	<div><%= w.hidden_field :spread2 %></div>
	<div><%= w.hidden_field :spread3 %></div>
	<div><%= w.hidden_field :spread4 %></div>
	<div><%= w.hidden_field :spread5 %></div>
	Date:<div><%= w.text_field :date, :value => @my_date %></div>
	<div><%= w.hidden_field :net_result %></div>
	<div><%= w.hidden_field :user_bankroll %></div>
	<div><%= w.hidden_field :client_bankroll %></div>
	<div><%= w.hidden_field :outcome %></div>
	<div><%= w.hidden_field :graded %></div>
	<div><%= w.submit %></div>

	<% end %>

<% end %>

<% if (@wager_type == "two team teaser" || @wager_type == "two team parlay" || @wager_type == "two team reverse") %>

	<div><%= @amount %>
		<%= @wager_type %></div>
	
	<div><%= @team1 %>
		<%= @spread1 %></div>

	<div><%= @team2 %>
		<%= @spread2 %></div>

	<%= form_for @wager do |w| %>

	<%= w.hidden_field :user_id, :value => current_user.id %>
	<%= w.hidden_field :client_id, :value => @client.id %>
	Type:<div><%= w.text_field :wager_type, :value => @wager_type %></div>
	Amount:<div><%= w.text_field :amount, :value => @amount %></div>
	Team1:<div><%= w.text_field :team1, :value => @team1 %></div>
	Team2:<div><%= w.text_field :team2, :value => @team2 %></div>
	<div><%= w.hidden_field :team3 %></div>
	<div><%= w.hidden_field :team4 %></div>
	<div><%= w.hidden_field :team5 %></div>
	Spread1:<div><%= w.text_field :spread1, :value => @spread1 %></div>
	Spread2:<div><%= w.text_field :spread2, :value => @spread2 %></div>
	<div><%= w.hidden_field :spread3 %></div>
	<div><%= w.hidden_field :spread4 %></div>
	<div><%= w.hidden_field :spread5 %></div>
	Date:<div><%= w.text_field :date, :value => @my_date %></div>
	<div><%= w.hidden_field :net_result %></div>
	<div><%= w.hidden_field :user_bankroll %></div>
	<div><%= w.hidden_field :client_bankroll %></div>
	<div><%= w.hidden_field :outcome %></div>
	<div><%= w.hidden_field :graded %></div>
	<div><%= w.submit %></div>

	<% end %>


<% end %>

<% if (@wager_type == "three team teaser" || @wager_type == "three team parlay" || @wager_type == "three team reverse") %>

	<div><%= @amount %>
		<%= @wager_type %></div>
	
	<div><%= @team1 %>
		<%= @spread1 %></div>

	<div><%= @team2 %>
		<%= @spread2 %></div>

	<div><%= @team3 %>
		<%= @spread3 %>

	<%= form_for @wager do |w| %>

	<%= w.hidden_field :user_id, :value => current_user.id %>
	<%= w.hidden_field :client_id, :value => @client.id %>
	Type:<div><%= w.text_field :wager_type, :value => @wager_type %></div>
	Amount:<div><%= w.text_field :amount, :value => @amount %></div>
	Team1:<div><%= w.text_field :team1, :value => @team1 %></div>
	Team2:<div><%= w.text_field :team2, :value => @team2 %></div>
	Team3:<div><%= w.text_field :team3, :value => @team3 %></div>
	<div><%= w.hidden_field :team4 %></div>
	<div><%= w.hidden_field :team5 %></div>
	Spread1:<div><%= w.text_field :spread1, :value => @spread1 %></div>
	Spread2:<div><%= w.text_field :spread2, :value => @spread2 %></div>
	Spread3:<div><%= w.text_field :spread3, :value => @spread3 %></div>
	<div><%= w.hidden_field :spread4 %></div>
	<div><%= w.hidden_field :spread5 %></div>
	Date:<div><%= w.text_field :date, :value => @my_date %></div>
	<div><%= w.hidden_field :net_result %></div>
	<div><%= w.hidden_field :user_bankroll %></div>
	<div><%= w.hidden_field :client_bankroll %></div>
	<div><%= w.hidden_field :outcome %></div>
	<div><%= w.hidden_field :graded %></div>
	<div><%= w.submit %></div>

	<% end %>

<% end %>

<% if (@wager_type == "four team reverse") %>

	<div><%= @amount %>
		<%= @wager_type %></div>
	
	<div><%= @team1 %>
		<%= @spread1 %></div>

	<div><%= @team2 %>
		<%= @spread2 %></div>

	<div><%= @team3 %>
		<%= @spread3 %></div>

	<div><%= @team4 %>
		<%= @spread4 %></div>

	<%= form_for @wager do |w| %>

	<%= w.hidden_field :user_id, :value => current_user.id %>
	<%= w.hidden_field :client_id, :value => @client.id %>
	Type:<div><%= w.text_field :wager_type, :value => @wager_type %></div>
	Amount:<div><%= w.text_field :amount, :value => @amount %></div>
	Team1:<div><%= w.text_field :team1, :value => @team1 %></div>
	Team2:<div><%= w.text_field :team2, :value => @team2 %></div>
	Team3:<div><%= w.text_field :team3, :value => @team3 %></div>
	Team4:<div><%= w.text_field :team4, :value => @team4 %></div>
	<div><%= w.hidden_field :team5 %></div>
	Spread1:<div><%= w.text_field :spread1, :value => @spread1 %></div>
	Spread2:<div><%= w.text_field :spread2, :value => @spread2 %></div>
	Spread3:<div><%= w.text_field :spread3, :value => @spread3 %></div>
	Spread4:<div><%= w.text_field :spread4, :value => @spread4 %></div>
	<div><%= w.hidden_field :spread5 %></div>
	Date:<div><%= w.text_field :date, :value => @my_date %></div>
	<div><%= w.hidden_field :net_result %></div>
	<div><%= w.hidden_field :user_bankroll %></div>
	<div><%= w.hidden_field :client_bankroll %></div>
	<div><%= w.hidden_field :outcome %></div>
	<div><%= w.hidden_field :graded %></div>
	<div><%= w.submit %></div>

	<% end %>

<% end %>

<% if (@wager_type == "five team teaser" || @wager_type == "five team parlay") %>

	<div><%= @amount %>
		<%= @wager_type %></div>
	
	<div><%= @team1 %>
		<%= @spread1 %></div>

	<div><%= @team2 %>
		<%= @spread2 %></div>

	<div><%= @team3 %>
		<%= @spread3 %></div>

	<div><%= @team4 %>
		<%= @spread4 %></div>

	<div><%= @team5 %>
		<%= @spread5 %></div>

	<%= form_for @wager do |w| %>

	<%= w.hidden_field :user_id, :value => current_user.id %>
	<%= w.hidden_field :client_id, :value => @client.id %>
	Type:<div><%= w.text_field :wager_type, :value => @wager_type %></div>
	Amount:<div><%= w.text_field :amount, :value => @amount %></div>
	Team1:<div><%= w.text_field :team1, :value => @team1 %></div>
	Team2:<div><%= w.text_field :team2, :value => @team2 %></div>
	Team3:<div><%= w.text_field :team3, :value => @team3 %></div>
	Team4:<div><%= w.text_field :team4, :value => @team4 %></div>
	Team5:<div><%= w.text_field :team5, :value => @team5 %></div>
	Spread1:<div><%= w.text_field :spread1, :value => @spread1 %></div>
	Spread2:<div><%= w.text_field :spread2, :value => @spread2 %></div>
	Spread3:<div><%= w.text_field :spread3, :value => @spread3 %></div>
	Spread4:<div><%= w.text_field :spread4, :value => @spread4 %></div>
	Spread5:<div><%= w.text_field :spread5, :value => @spread5 %></div>
	Date:<div><%= w.text_field :date, :value => @my_date %></div>
	<div><%= w.hidden_field :net_result %></div>
	<div><%= w.hidden_field :user_bankroll %></div>
	<div><%= w.hidden_field :client_bankroll %></div>
	<div><%= w.hidden_field :outcome %></div>
	<div><%= w.hidden_field :graded %></div>
	<div><%= w.submit %></div>

	<% end %>


<% end %>

<% @amount = "200" %>

