
<% @time_check %>
<% self.get_time %>
<% self.time_check %>





<% @spread_pk = "pk" %>
<% @selections = [] %>
<% @oppo_picks = [] %>
<% @matchups = [] %>
<% @client_picks = [] %>
<% @teams_to_choose = [] %>
<% @choices = [] %>
<% @teaser_eligible = []  %>
<% @combo %>
<% @straight_container = [] %>
<% @team_hash %>
<% @teaser_teams %>
<% @num_choices %>

<% @wager_type %>
<% @pick1 %>
<% @pick2 %>
<% @pick3 %>
<% @pick4 %>
<% @pick5 %>
<% @spread1 %>
<% @spread2 %>
<% @spread3 %>
<% @spread4 %>
<% @spread5 %>


<% @nfl_sides = [] %>
<% @nfl_totals = [] %>

<% @mlb_sides = [] %>
<% @mlb_totals = [] %>

<% @nba_totals = [] %>
<% @nba_sides = [] %>

<% @nhl_sides = [] %>
<% @nhl_totals = [] %>

<% @cbb_sides = [] %>
<% @cbb_totals = [] %>

<% @cfb_totals = [] %>
<% @cfb_sides = [] %>
<% @fan_sides = [] %>

<% @todays_wagers = [] %>
<% @sports_avail = 0 %>


<% self.qualify_clients %>

<%= @todays_wagers %>

<% @selections = [] %>
<% @oppo_picks = [] %>
<% @matchups = [] %>
<% @client_picks = [] %>
<% @teams_to_choose = [] %>
<% @choices = [] %>
<% @teaser_eligible = []  %>
<% @combo %>
<% @straight_container = [] %>
<% @team_hash %>
<% @teams_for_teaser = [] %>
<% @teaser_teams %>
<% @num_choices %>

<% @wager_type %>
<% @pick1 %>
<% @pick2 %>
<% @pick3 %>
<% @pick4 %>
<% @pick5 %>
<% @spread1 %>
<% @spread2 %>
<% @spread3 %>
<% @spread4 %>
<% @spread5 %>


<% @nfl_sides = [] %>
<% @nfl_totals = [] %>

<% @mlb_sides = [] %>
<% @mlb_totals = [] %>

<% @nba_totals = [] %>
<% @nba_sides = [] %>

<% @nhl_sides = [] %>
<% @nhl_totals = [] %>

<% @cbb_sides = [] %>
<% @cbb_totals = [] %>

<% @cfb_totals = [] %>
<% @cfb_sides = [] %>

<% @teaser_teams %>
<% @num_choices %>





<% if @todays_wagers.length == 0 %>

	<% @alert = "ALL BETS ARE IN" %>

	<div id="wager_limit_alert"><%= @alert %></div>


<% else %>

	<% @client_choice = @todays_wagers.sample %>
	<%= @client_choice %>

	<% current_user.clients.each do |c| %>

		<% if c.id == @client_choice %>

			<% @client = c %>

		<div class="wager_info">
			<div><%= c.first_name %>
			<%= c.last_name %></div>

			<% self.pick_amount %>
			<% self.get_teams_and_oppo %>
			<% self.display %>
			<% self.pick_type %>
			<% self.pick_teams %>
			<% self.selections %>
			<% self.sort %>
			<% self.fill_wagers %>

			<% if @wager_type == "straight" %>

				<div><%= "$" + @amount.to_s %>
					<%= @wager_type %></div>
					<div><%= @pick1 %>

					<% if @spread1 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread1 %>

					<% end %>
					</div>

				<div class = "hide">

					<%= form_for @wager do |w| %>

					<%= w.hidden_field :user_id, :value => current_user.id %>
					<%= w.hidden_field :client_id, :value => @client.id %>
					Type:<div><%= w.text_field :wager_type, :value => @wager_type %></div>
					Amount:<div><%= w.text_field :amount, :value => @amount %></div>
					Team:<div><%= w.text_field :team1, :value => @pick1 %></div>
					<div><%= w.hidden_field :team2 %></div>
					<div><%= w.hidden_field :team3 %></div>
					<div><%= w.hidden_field :team4 %></div>
					<div><%= w.hidden_field :team5 %></div>
					Spread:<div><%= w.text_field :spread1, :value => @spread1 %></div>
					<div><%= w.hidden_field :spread2 %></div>
					<div><%= w.hidden_field :spread3 %></div>
					<div><%= w.hidden_field :spread4 %></div>
					<div><%= w.hidden_field :spread5 %></div>
					Date:<div><%= w.text_field :date, :value => @my_date %></div>
					<div><%= w.hidden_field :net_result %></div>
					<div><%= w.hidden_field :user_bankroll, :value => @current_br %></div>
					<div><%= w.hidden_field :client_bankroll %></div>
					<div><%= w.hidden_field :outcome %></div>
					<div><%= w.hidden_field :graded %></div>
					<div><%= w.submit %></div>

					<% end %>

				</div>

			<% end %>

		<% if (@wager_type == "two team teaser" || @wager_type == "two team parlay" || @wager_type == "two team reverse") %>

					

			<div><%= "$" + @amount.to_s %>
			<%= @wager_type %></div>
					
			<div><%= @pick1 %>
				
				<% if @spread1 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread1 %>

					<% end %>
					</div>

			<div><%= @pick2 %>
				<% if @spread2 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread2 %>

					<% end %>
					</div>


			<div class = "hide">

				<%= form_for @wager do |w| %>

				<%= w.hidden_field :user_id, :value => current_user.id %>
				<%= w.hidden_field :client_id, :value => @client.id %>
				Type:<div><%= w.text_field :wager_type, :value => @wager_type %></div>
				Amount:<div><%= w.text_field :amount, :value => @amount %></div>
				Team1:<div><%= w.text_field :team1, :value => @pick1 %></div>
				Team2:<div><%= w.text_field :team2, :value => @pick2 %></div>
				<div><%= w.hidden_field :team3 %></div>
				<div><%= w.hidden_field :team4 %></div>
				<div><%= w.hidden_field :team5 %></div>
				Spread1:<div><%= w.text_field :spread1, :value => @spread1 %></div>
				Spread2:<div><%= w.text_field :spread2, :value => @spread2 %></div>
				<div><%= w.hidden_field :spread3 %></div>
				<div><%= w.hidden_field :spread4 %></div>
				<div><%= w.hidden_field :spread5 %></div>
				Date:<div><%= w.text_field :date, :value => @my_date %></div>
				<div><%= w.hidden_field :net_result %></div>
				<div><%= w.hidden_field :user_bankroll, :value => @current_br %></div>
				<div><%= w.hidden_field :client_bankroll %></div>
				<div><%= w.hidden_field :outcome %></div>
				<div><%= w.hidden_field :graded %></div>
				<div><%= w.submit %></div>

				<% end %>

			</div>


		<% end %>

		<% if (@wager_type == "three team teaser" || @wager_type == "three team parlay" || @wager_type == "three team reverse") %>



			<div><%= "$" + @amount.to_s %>
				<%= @wager_type %></div>
						
			<div><%= @pick1 %>
				
				<% if @spread1 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread1 %>

					<% end %>
					</div>

			<div><%= @pick2 %>
				<% if @spread2 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread2 %>

					<% end %>
					</div>

			<div><%= @pick3 %>
				<% if @spread3 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread3 %>

					<% end %>
					</div>

			<div class = "hide">

						<%= form_for @wager do |w| %>

						<%= w.hidden_field :user_id, :value => current_user.id %>
						<%= w.hidden_field :client_id, :value => @client.id %>
						Type:<div><%= w.text_field :wager_type, :value => @wager_type %></div>
						Amount:<div><%= w.text_field :amount, :value => @amount %></div>
						Team1:<div><%= w.text_field :team1, :value => @pick1 %></div>
						Team2:<div><%= w.text_field :team2, :value => @pick2 %></div>
						Team3:<div><%= w.text_field :team3, :value => @pick3 %></div>
						<div><%= w.hidden_field :team4 %></div>
						<div><%= w.hidden_field :team5 %></div>
						Spread1:<div><%= w.text_field :spread1, :value => @spread1 %></div>
						Spread2:<div><%= w.text_field :spread2, :value => @spread2 %></div>
						Spread3:<div><%= w.text_field :spread3, :value => @spread3 %></div>
						<div><%= w.hidden_field :spread4 %></div>
						<div><%= w.hidden_field :spread5 %></div>
						Date:<div><%= w.text_field :date, :value => @my_date %></div>
						<div><%= w.hidden_field :net_result %></div>
						<div><%= w.hidden_field :user_bankroll, :value => @current_br %></div>
						<div><%= w.hidden_field :client_bankroll %></div>
						<div><%= w.hidden_field :outcome %></div>
						<div><%= w.hidden_field :graded %></div>
						<div><%= w.submit %></div>

					<% end %>

			</div>

		<% end %>

		<% if (@wager_type == "four team reverse") %>

				<div><%= "$" + @amount.to_s %>
					<%= @wager_type %></div>
						
				<div><%= @pick1 %>
				
				<% if @spread1 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread1 %>

					<% end %>
					</div>

			<div><%= @pick2 %>
				<% if @spread2 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread2 %>

					<% end %>
					</div>

			<div><%= @pick3 %>
				<% if @spread3 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread3 %>

					<% end %>
					</div>

						<div><%= @pick4 %>
				<% if @spread4 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread4 %>

					<% end %>
					</div>

					<div class = "hide">
						<%= form_for @wager do |w| %>

						<%= w.hidden_field :user_id, :value => current_user.id %>
						<%= w.hidden_field :client_id, :value => @client.id %>
						Type:<div><%= w.text_field :wager_type, :value => @wager_type %></div>
						Amount:<div><%= w.text_field :amount, :value => @amount %></div>
						Team1:<div><%= w.text_field :team1, :value => @pick1 %></div>
						Team2:<div><%= w.text_field :team2, :value => @pick2 %></div>
						Team3:<div><%= w.text_field :team3, :value => @pick3 %></div>
						Team4:<div><%= w.text_field :team4, :value => @pick4 %></div>
						<div><%= w.hidden_field :team5 %></div>
						Spread1:<div><%= w.text_field :spread1, :value => @spread1 %></div>
						Spread2:<div><%= w.text_field :spread2, :value => @spread2 %></div>
						Spread3:<div><%= w.text_field :spread3, :value => @spread3 %></div>
						Spread4:<div><%= w.text_field :spread4, :value => @spread4 %></div>
						<div><%= w.hidden_field :spread5 %></div>
						Date:<div><%= w.text_field :date, :value => @my_date %></div>
						<div><%= w.hidden_field :net_result %></div>
						<div><%= w.hidden_field :user_bankroll, :value => @current_br %></div>
						<div><%= w.hidden_field :client_bankroll %></div>
						<div><%= w.hidden_field :outcome %></div>
						<div><%= w.hidden_field :graded %></div>
						<div><%= w.submit %></div>

						<% end %>

					</div>

		<% end %>

		<% if (@wager_type == "five team teaser" || @wager_type == "five team parlay") %>

				<div><%= "$" + @amount.to_s %>
					<%= @wager_type %></div>
						
				<div><%= @pick1 %>
				
				<% if @spread1 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread1 %>

					<% end %>
					</div>

				<div><%= @pick2 %>
				<% if @spread2 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread2 %>

					<% end %>
					</div>

				<div><%= @pick3 %>
				<% if @spread3 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread3 %>

					<% end %>
					</div>

				<div><%= @pick4 %>
				<% if @spread4 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread4 %>

					<% end %>
					</div>

				<div><%= @pick5 %>
				<% if @spread5 == 0 %>

						<%= @spread_pk %>

					<% else %>

						<%= @spread5 %>

					<% end %>
					</div>

					<div class = "hide">

						<%= form_for @wager do |w| %>

						<%= w.hidden_field :user_id, :value => current_user.id %>
						<%= w.hidden_field :client_id, :value => @client.id %>
						Type:<div><%= w.text_field :wager_type, :value => @wager_type %></div>
						Amount:<div><%= w.text_field :amount, :value => @amount %></div>
						Team1:<div><%= w.text_field :team1, :value => @pick1 %></div>
						Team2:<div><%= w.text_field :team2, :value => @pick2 %></div>
						Team3:<div><%= w.text_field :team3, :value => @pick3 %></div>
						Team4:<div><%= w.text_field :team4, :value => @pick4 %></div>
						Team5:<div><%= w.text_field :team5, :value => @pick5 %></div>
						Spread1:<div><%= w.text_field :spread1, :value => @spread1 %></div>
						Spread2:<div><%= w.text_field :spread2, :value => @spread2 %></div>
						Spread3:<div><%= w.text_field :spread3, :value => @spread3 %></div>
						Spread4:<div><%= w.text_field :spread4, :value => @spread4 %></div>
						Spread5:<div><%= w.text_field :spread5, :value => @spread5 %></div>
						Date:<div><%= w.text_field :date, :value => @my_date %></div>
						<div><%= w.hidden_field :net_result %></div>
						<div><%= w.hidden_field :user_bankroll, :value => @current_br %></div>
						<div><%= w.hidden_field :client_bankroll %></div>
						<div><%= w.hidden_field :outcome %></div>
						<div><%= w.hidden_field :graded %></div>
						<div><%= w.submit %></div>

						<% end %>

					</div>




			<% end %>

		<div id="buttons">
		<input type="submit" value="BOOK" id="book_it" class="buttonStyle">
		<input type="submit" value="PASS" id="pass" class="buttonStyle">
		</div>
	</div>

		<% end %>

		
		

	<% end %>

	

	
	

		


	
 <% end %>

<script src="/assets/display_wager.js"></script>






