<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div id="home_container">

  <div id="left_side" style="background: white;" class="trio">
    
    <div id="ls-head" class="home_heading" style="background: blue; color: white;">
      
      <p>WANT TO PLAY A NEW FANTASY GAME</p> 

      <p>BASED ON SPORTS BETTING?</p>

      <p>PLAY BOOKIE WARS FOR FREE!</p>


    </div>

    <div class ="home_body">
      
      <p>1. PLAY IN LEAGUES WITH AT LEAST TWO PEOPLE.</p>
      <p>2. USERS ARE BOOKIES THAT NEED TO MANAGE THEIR CLIENT ROSTER.</p>
      <p>3. ALL BOOKIES RECEIVE THE SAME NUMBER OF CLIENTS.</p>
      <p>4. EACH BOOKIE SETS THE ATTRIBUTES OF THEIR CLIENTS.</p>
      <p>5. CLIENTS HAVE A WAGER TYPE, AMOUNT, FREQUENCY, AND SPORT THAT IS SET BY THE BOOKIE. </p>
      <p>6. BOOK THEIR ACTION ONCE YOUR ROSTER IS SET.  ROSTERS CAN BE SET DAILIY. </p>
      <p>7. STANGINGS ARE KEPT BASED ON THE PROFIT OF THE BOOKIES. </p>  
      <p>8. LEAGUES CAN LAST FOR ONE DAY OR UP TO ONE YEAR. </p>
      <p>9. ALL LEAGUES ARE PASSWORD PROTECTED.</p>
      <p>10. PLAY IN OR CREATE MULTIPLE LEAGUES AT A TIME.</p>






    </div>




  </div>


  <div id="center" class="trio">

    <div id="ct-head" class="home_heading">

      <p>TIRED OF THE SAME OLD FANTASY GAMES?</p>
      <p>GET UNLIMITED ACCESS TO 2 NEW GAMES</p>
      <p>CREATE A FREE ACCOUNT IN TEN SECONDS</p>
      

    </div>

    <div class ="home_body" style="background: white;">

      <div id="log_head">ALREADY HAVE AN ACCOUNT?</div>

      <div id="js_form_home">

        <div id="input_boxes">
          
          EMAIL: <input type="text" name="" id="email_login">
          PASSWORD: <input type="text" name="" id="pass_login">
          <input type="submit" name="" value="LOGIN" id="sub_login">
          <div><%= render "devise/shared/links" %></div>


        </div>


      </div>

      <div id="log_message">
        
       

       <div id="signup_link"><p><%= link_to "SIGN UP", new_user_registration_path %></p></div>





      </div>

      <script>
        
        var email = document.getElementById("email_login")
        var pass = document.getElementById("pass_login")
        var login_sub = document.getElementById("sub_login")
        

        login_sub.addEventListener("click", function(){


        user_email.value = email.value
        user_password.value = pass.value

       
        new_user.submit()



  })


      </script>

      <div class = "hide">
      
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in" %>
            </div>
        <% end %>

        


      </div>
    </div>
      
      

  </div>
 
  <div id="right_side" class="trio" style="background: white">
    
    <div id="rt-head" class="home_heading" style="background: green; color: white; margin-top: 0px;">
      
      <p>WANT TO PLAY A NEW FANTASY GAME</p> 

      <p>BASED AROUND SUICIDE POOLS?</p>

      <p>PLAY FANISIDE POOLS FOR FREE!</p>


    </div>

    <div class ="home_body">

      <p>1. PLAY IN POOLS WITH AT LEAST TWO PEOPLE.</p>
      <p>2. POOL CREATORS GENERATE A RANDOM GROUP OF 2 - 5 FANTASY PLAYERS ANY DAY THEY WISH TO DO SO.  ENTRANTS MUST SELECT THE PLAYER WHO WILL SCORE THE MOST FANTASY POINTS THAT NIGHT.</p>
      <p>3. PLAYERS CAN BE SELECTED MULTIPLE TIMES DURING THE POOL. </p>
      <p>4. PICK THE HIGH SCORER FROM THE GROUP OR BE ELIMINATED.</p>
      <p>5. IF TWO PLAYERS TIE IN POINTS WITHIN A GROUP, A SELECTION OF EITHER WINS. </p>
      <p>6. WHEN ONE ENTRANT REMAINS, THEY WIN THE POOL. </p> 
      <p>7. IF ALL REMAINING ENTRANTS ARE ELIMINATED AT THE SAME TIME, THOSE ENTRANTS TIE FOR THE WIN.</p>
      <p>8. POOLS CAN BE RUN IN NFL, NBA, OR MLB.</p>    
      <p>9. ALL POOLS ARE PASSWORD PROTECTED.</p>
      <p>10. PLAY IN OR CREATE MULTIPLE POOLS AT A TIME.</p>

    </div>

  </div>


</div>


