


<div id="home_container">

  <div id="left_side" style="background: white;" class="trio">
    
    <div id="ls-head" class="home_heading" style="background: blue; color: white;">
      
      <p>WANT TO PLAY A NEW FANTASY GAME</p> 

      <p>BASED ON SPORTS BETTING?</p>

      <p>PLAY BOOKIE WARS FOR FREE!</p>


    </div>

    <div class ="home_body">
      
      <p>1. CREATE A LEAGUE AND SHARE THE LEAGUE PASSWORD WITH ONLY THE PEOPLE YOU WANT OR SHARE IT WITH EVERYBODY.</p>
      <p>2. ALL LEAGUE PLAYERS MUST ENTER THE LEAGUE PASSWORD ONE TIME TO GAIN LEAGUE ACCESS. </p>
      <p>3. LEAGUE PARTICIPANTS COMPETE AGAINST EACH OTHER AS BOOKMAKERS.  ALL BOOKIES IN A LEAGUE HAVE THE SAME NUMBER OF CLIENTS.</p>
      <p>4. ALL LEAGUE CLIENTS ARE AI BOTS THAT HAVE 4 DIFFERENT BETTING ATTRIBUTES THAT CAN BE SET BY THE BOOKIE WHO OWNS THEM.</p>
      <p>5. CLIENTS HAVE ATTRIBUTES OF WAGER TYPE, AMOUNT, FREQUENCY, AND SPORT THAT IS SET BY THEIR BOOKIE. </p>
      <p>6. ONCE THE CLIENT ROSTER IS SET THE WAY YOU WANT, YOU CAN THEN BOOK THEIR ACTION.  CLIENT ATTRIBUTES CAN BE CHANGED AT ANYTIME.</p>
      <p>7. THE DAY AFTER BOOKING ACTION, BOOKIES CAN RETURN TO THE LEAGUE AND GRADE THEIR ACTION.  NEW ACTION CAN NOT BE BOOKED UNTIL THE BOOKIE HAS ZERO UNGRADED WAGERS.</p>  
      <p>8. THE LENGTH OF THE LEAGUE, LEAGUE PASSWORD, AND THE NUMBER OF LEAGUE CLIENTS ARE SET BY THE LEAGUE COMMISSIONER/CREATOR.</p>
      <p>9. STANDINGS ARE KEPT BASED ON THE WIN/LOSS FIGURE OF THE BOOKIES IN THE LEAGUE.</p>
      <p>10. PLAY IN OR CREATE MULTIPLE LEAGUES AT A TIME.</p>


    </div>




  </div>


  <div id="center" class="trio">

    <div id="ct-head" class="home_heading">

      <p>TIRED OF THE SAME OLD FANTASY GAMES?</p>
      <p>GET UNLIMITED ACCESS TO 2 NEW GAMES</p>
      <p>CREATE A FREE ACCOUNT IN TEN SECONDS</p>
      

    </div>

    <div class ="home_body" style="background: white;">

      <div id="log_head">ALREADY HAVE AN ACCOUNT?</div>

      <div id="js_form_home">

        <div id="input_boxes">
          
          <div>EMAIL: <input type="text" name="" id="email_login"></div>
          <div>PASSWORD: <input type="text" name="" id="pass_login"></div>
         <div id="sub_log"><input type="submit" name="" value="LOGIN" id="sub_login"></div>
         

          


        </div>


       


      </div>
      <div id="dev_link"><%= render "devise/shared/links" %></div>

      <div id="log_message">
        
       

         <div id="signup_link"><p><%= link_to "SIGN UP", new_user_registration_path %></p></div>





      </div>





      <script>
        
        var email = document.getElementById("email_login")
        var pass = document.getElementById("pass_login")
        var login_sub = document.getElementById("sub_login")
        

        login_sub.addEventListener("click", function(){


        user_email.value = email.value
        user_password.value = pass.value

       
        new_user.submit()



  })


      </script>

      <div class = "hide">
      
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in" %>
            </div>
        <% end %>

        


      </div>
    </div>
      
      

  </div>
 
  <div id="right_side" class="trio" style="background: white">
    
    <div id="rt-head" class="home_heading" style="background: green; color: white; margin-top: 0px;">
      
      <p>WANT TO PLAY A NEW FANTASY GAME</p> 

      <p>BASED AROUND SUICIDE POOLS?</p>

      <p>PLAY FANISIDE POOLS FOR FREE!</p>


    </div>

    <div class ="home_body">

      <p>1.  CREATE A POOL AND SHARE THE PASSWORD WITH WHOM AND WHERE YOU WISH TO.</p>
      <p>2. FANISIDE POOLS ARE A SINGLE ELIMINATION POOL WHERE ENTRANTS MUST SELECT THE WINNER OF A FANTASY SPORTS MATCHUP BETWEEN TWO PLAYERS.</p>
      <p>3. MATCHUPS ALWAYS HAVE TWO PLAYERS BUT THE PLAYERS ARE RANDOMLY GENERATED.</p>
      <p>4. PICK THE HIGH SCORER FROM THE MATCHUP OR BE ELIMINATED.</p>
      <p>5. IF THE TWO PLAYERS TIE IN POINTS THEN A SELECTION OF EITHER WINS. </p>
      <p>6. POOL ENTRANTS CONTIMUE TO GET ELIMINATED UNTIL ONE MAN STANDS AND THEY ARE THE WINNER. </p> 
      <p>7. IF ALL REMAINING ENTRANTS ARE ELIMINATED AT THE SAME TIME, THOSE ENTRANTS TIE FOR THE WIN.</p>
      <p>8. POOLS CAN BE RUN IN NFL, NBA, OR MLB.</p>    
      <p>9. MATCHUPS ARE GENERATED AT THE POOL COMMISSIONER/CREATOR'S DISCRETION.  IT COULD BE DONE DAILY OR IN ANY INTERVAL THEY WISH.</p>
      <p>10. PLAY IN OR CREATE MULTIPLE POOLS AT A TIME.</p>

    </div>

  </div>


</div>


