<% @my_date %>

<% self.get_time %>

<%= form_for @ticket do |t| %>

	<div>DATE: <%= t.text_field :date, :value => @my_date %></div>
	<div><%= t.hidden_field :player_id, :value => @player.id %></div>
	<div>NAME: <%= t.text_field :name, :value => @player.name %></div>
	<div>SPORT: <%= t.text_field :sport, :value => @player.sport %></div>
	<div>SCORE: <%= t.text_field :score %></div>
	<div><%= t.submit %></div>

<% end %>