<%= form_for @player do |p| %>

	<div>NAME: <%= p.text_field :name %></div>
	<div>SPORT: <%= p.text_field :sport %></div>
	<div>RATING: <%= p.text_field :rating %></div>
	<div><%= p.submit %></div>



<% end %>