<!DOCTYPE html>
<html>
  <head>
    <title>Bookie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'link_tabs'  %>
  	<%= link_to "Sign Up", new_user_registration_path, class: 'link_tabs'  %>
  	<%= link_to "Sign in", user_session_path, class: 'link_tabs'  %>
  	<%= link_to "My SportsBook", users_sportsbook_path, class: 'link_tabs'  %>
    <%= link_to "Fish For Clients", new_client_path, class: 'link_tabs'  %>
    <%= link_to "New Team", new_team_path, class: 'link_tabs'  %>
  	<%= link_to "Action", new_wager_path, class: 'link_tabs'  %>
    <%= yield %>
  </body>
</html>
